# This file is meant to override docker-compose.yml and olso have environment variables substituted
# copy this under a name w/o .sample, modify to your needs, then run it through envsubst and produce the override file
# env `xargs < .env.my` envsubst <docker-compose.override.template >docker-compose.override.yml
version: "2"
services:
  web:
    build:
      dockerfile: docker/web/Dockerfile
      context: .
      # always take ecolex version from running environment
      args:
        - EDW_ECOLEX_VER
    command: debug
    tty: true
    stdin_open: true
    volumes:
      - ./:/home/web/ecolex
    environment:
      - EDW_WEB_DEBUG=$EDW_WEB_DEBUG

  solr:
    build:
      dockerfile: docker/solr/Dockerfile
      context: .
