dicttoxml==1.6.6
Django==3.2.7
django-ckeditor==5.0.3
djangorestframework>=3.3.3,<3.4
django-static-sitemaps==4.1.1
# TODO: remove me (after removing me form management commands)
pysolr==3.3.0
marshmallow>=2.6.1,<2.7
# git+https://github.com/iucn-elc/scorched.git@stats-support
# TODO: switch to upstream once it supports stats
scorched>=0.10,<0.11
solid_i18n>=1.2.0,<1.3
unidecode>=0.4.19,<0.5
xmltodict==0.10.1
mysqlclient==1.3.14

beautifulsoup4>=4.5.3
requests==2.19.1
rdflib==4.2.2
