{% extends "layout.html" %}

{% block content %}
<h1>Acknowledgements</h1>
<p>ECOLEX is operated jointly by FAO, IUCN and UNEP.</p>

<p>FAO is the custodian of the information on national legislation.<br>
IUCN is the custodian of the information on treaties and literature.<br>
UNEP is the custodian of the information on court decisions.</p>

<p><b>ECOLEX Management Unit:</b> IUCN Environmental Law Centre<br></p>

<h3>ECOLEX partners:</h3>

<p>Food and Agriculture Organization (FAO) of the United Nations<br>
Viale delle Terme di Caracalla<br>
00153 Rome, Italy<br>
Telephone: (+39) 06 57051<br>
Fax: (+39) 06 570 53152<br>
Email: <a href="mailto:FAO-HQ@fao.org">FAO-HQ@fao.org</a><br>
Coordinator: Mr Andres VatterRubio</p>

<p>IUCN - Environmental Law Centre<br>
Godesberger Allee 108-112<br>
53175 Bonn<br>
Germany<br>
Phone: ++49 - 228 - 2692 - 231<br>
Fax: ++49 - 228 - 2692 - 250<br>
Email: <a href="mailto:elcsecretariat@iucn.org">elcsecretariat@iucn.org</a><br>
Coordinator: Ms Anni Lukács</p>

<p>United Nations Environment Programme (UNEP)<br>
United Nations Avenue, Gigiri<br>
PO Box 30552, 00100<br>
Nairobi, Kenya<br>
Tel: ++ 254 - 20 7621234<br>
Fax: ++ 254 - 20) 7624489/90<br>
Email: <a href="mailto:unepinfo@unep.org">unepinfo@unep.org</a><br>
Coordinator: Ms Eva Duer</p>



<h3>System design and software implementation</h3>
<p><a href="http://www.icie.com.pl">Institute for Computer and Information Engineering</a></p>
<p style="text-decoration: un:derline">People involved</p>
<p>Henryk Rybiński<br>
Przemysław Więch<br>
Łukasz Skonieczny<br>
Mariusz Suchorowski</p>

<p style="text-decoration: underline">Software resources used:</p>
<p><a href="http://lucene.apache.org/java/">Lucene</a><br>
<a href="http://lucene.apache.org/nutch/">Nutch</a><br>
<a href="http://objectledge.org/">ObjectLedge</a></p>

<h3>Graphical design</h3>
<p>Giancarlo De Pol</p>
{% endblock content %}
