[default]
SOLR_TIMEOUT = 10

[court_decision]
BASEDIR = path where contrib directory is found
COUNTRIES_JSON = %(basedir)s/config/countries.json
TEST_INPUT_FILE = %(basedir)s/testing/court_decision_in.json
TEST_OUTPUT_FILE = %(basedir)s/testing/court_decision_out.json
COURT_DECISIONS_URL = http://leo.informea.org/ws/court-decisions
DAYS_AGO = 7

[treaty-all]
TREATIES_URL = http://www.ecolex.org/elis_isis3w.php
START_YEAR = 1981
START_MONTH = 1
END_MONTH = 13
QUERY_EXPORT = ?database=tre&search_type=page_search&table=all
QUERY_FORMAT = ES:I AND STAT:C AND DE:%d%02d
IMPORT_FIELD = dateofentry
QUERY_FILTER = &spage_query=%s
QUERY_SKIP = &spage_first=%d
QUERY_TYPE = &format_name=@xmlexp&lang=xmlf&page_header=@xmlh
PER_PAGE = 20


[treaty-update]
TREATIES_URL = http://www.ecolex.org/elis_isis3w.php
START_YEAR = 2014
QUERY_EXPORT = ?database=tre&search_type=page_search&table=all
QUERY_FORMAT = ES:I AND STAT:C AND DM:%d%02d
IMPORT_FIELD = dateofmodification
QUERY_FILTER = &spage_query=%s
QUERY_SKIP = &spage_first=%d
QUERY_TYPE = &format_name=@xmlexp&lang=xmlf&page_header=@xmlh
PER_PAGE = 20
