{% extends 'layout.html' %}
{% load tags %}

{% block scripts %}
  <script>
    document.informea_url = "{{ document.leo_english_url }}";
    document.hostname = "leo.informea.org";
  </script>
{% endblock %}

{% block breadcrumbs %}
  {% breadcrumb "Search results" 'results' query %}
  {% breadcrumb "Court decision" %}
{% endblock %}

{% block content %}

<article class="record-details">

  <header>
    <div class="record-title">
      <div class="record-icon">
        <span class="icon icon-court-decision" title="Court Decision"></span>
      </div>
      <h1>{{ document.title|safe }}</h1>
    </div>

    <dl>
      <dt>Type of court</dt> <dd>{{ document.type_of_document|capfirst }}</dd>
      <dt>Date</dt> <dd>{{ document.date|date:"b j, Y"|capfirst  }}</dd>
      <dt>Source</dt>
      <dd>UNEP, <a target="_blank" href="http://www.informea.org/">InforMEA</a></dd>
    </dl>
  </header>

  <section id="details">
    <dl>
      <dt>Country</dt> <dd>{{ document.country }}</dd>
      <dt>Court name</dt> <dd>{{ document.court_name }}</dd>

      {% if document.justices %}
        <dt>Justices</dt> <dd>{{ document.justices|join:"<br>" }}</dd>
      {% endif %}

      {% if document.reference_number %}
        <dt>Reference number</dt> <dd>{{ document.reference_number }}</dd>
      {% endif %}

      <dt>Language of document</dt>
      <dd>{{ document.language_of_document|join:", " }}</dd>

      {% if document.subjects %}
        <dt>Subjects</dt>
        <dd>{{ document.subjects|join:", "|safe }}</dd>
      {% endif %}

      {% if document.keywords %}
        <dt>Keywords</dt>
        <dd>
        {% for keyword in document.keywords %}
          <span class="tag">{{ keyword|capfirst|safe }}</span>
        {% endfor %}
        </dd>
      {% endif %}
    </dl>
  </header>

  <section id="text">
    <dl>
      <dt>Abstract</dt>
      <dd>{{ document.abstract|safe }}</dd>

      {% if document.link_to_full_text %}
        <dt>Link to full text</dt>
        <dd>
          {# TODO Check if language_of_document should be used here #}
          <a href="{{ document.link_to_full_text|url_normalize }}"
             class="file-link"
             target="_blank">{{ document.language_of_document|join:", " }}</a>
        </dd>
      {% endif %}

      {% if document.files %}
        <dt>Files</dt>
        {% for link in document.files %}
          {# TODO Check if document.title should be used here #}
          <dd><a href="{{ link }}">{{ document.title|safe }}</a></dd>
        {% endfor %}
      {% endif %}
    </dl>
  </section>

{# TODO Update references #}
{% if references.items or referenced_by.items %}
  <section id="other-references">
    {% if references.items %}
    <h2 class="section-title">Other references</h2>
    {% for doc_type, docs in references.items %}
      <dl>
        <dt>{{ doc_type|capfirst }}</dt>
          {% for doc in docs %}
            <dd>
              <div class="treaty-link-container">
                <h3 class="search-result-title">
                  <a href="{{ doc.details_url }}?{{ query }}"
                     title="{{ doc.title|safe|striptags }}">{{ doc.title|safe }}</a>
                </h3>
              </div>
              {% include 'short_display/treaty.html' with result=doc %}
            </dd>
          {% endfor %}
      </dl>
    {% endfor %}
    {% endif %}

    {% if referenced_by.items %}
    <h2 class="section-title">Referenced by</h2>
    {% for doc_type, docs in referenced_by.items %}
      <dl>
        <dt>{{ doc_type|capfirst }}</dt>
        {% for doc in docs %}
          <dd>
              <div class="treaty-link-container">
                <h3 class="search-result-title">
                  <a href="{{ doc.details_url }}?{{ query }}"
                     title="{{ doc.title|safe|striptags }}">{{ doc.title|safe }}</a>
                </h3>
              </div>
              {% include 'short_display/literature.html' with result=doc %}
          </dd>
        {% endfor %}
      </dl>
    {% endfor %}
    {% endif %}
  </section>
{% endif %}

</article>
{% endblock content %}
