{% extends 'layout.html' %}
{% load tags %}

{% block breadcrumbs %}
  {% breadcrumb "Search results" 'results' query %}
  {% breadcrumb "Court decision" %}
{% endblock %}

{% block content %}
{% informea_url_id document %}

<article class="record-details">

  <header>
    <div class="record-title">
      <div class="record-icon">
        <span class="icon icon-court-decision" title="Court Decision"></span>
      </div>
      <h1>{{ document.title|safe }}</h1>
    </div>

    <dl>
      <dt>Document type</dt> <dd>{{ document.type_of_document|capfirst }}</dd>
      <dt>Date of document</dt> <dd>{{ document.date|date:"b j, Y"|capfirst  }}</dd>
      <dt>Source</dt>
      <dd>{{ document.source }}, <a target="_blank" href="http://www.informea.org/">InforMEA</a></dd>
    </dl>
  </header>

  <section id="details">
    <dl>
      <dt>Country</dt> <dd>{{ document.country }}</dd>
      <dt>Court name</dt> <dd>{{ document.solr.cdCourtName }}</dd>
      <dt>Justices</dt> <dd>{{ document.solr.cdJustices|join:"<br>" }}</dd>
      <dt>Reference number</dt> <dd>{{ document.solr.cdReferenceNumber }}</dd>
      <dt>Language of document</dt> <dd>{{ document.language }}</dd>
      <dt>Subjects</dt>
      <dd>
        {% if document.subjects %}
          {{ document.subjects | join_by:", " | safe }}
        {% else %}
          <span class="na">Not available</span>
        {% endif %}
      </dd>
      <dt>Keywords</dt>
      <dd>
        {% for keyword in document.keywords %}
          <span class="tag">{{ keyword|capfirst|safe }}</span>
        {% empty %}
          <span class="na">Not available</span>
        {% endfor %}
      </dd>
    </dl>
  </header>

  <section id="text">
    <dl>
      <dt>Abstract</dt>
      <dd>{{ document.abstract|safe }}</dd>
      {% with document.solr.cdLinkToFullText_en as url %}
        <dt>Link to full text</dt>
        <dd><a target="_blank" href="{{ url }}">{{ document.language }}</a></dd>
      {% endwith %}
    </dl>
  </section>

  <section id="other-references">
    <h2 class="section-title">Other references</h2>
    {% for doc_type, docs in references.items %}
      <dl>
        <dt>{{ doc_type|capfirst }}</dt>
        {% for doc in docs %}
          <dd><a href="{{ doc.details_url }}">{{ doc }}</a></dd>
        {% endfor %}
      </dl>
    {% empty %}
      <span class="na">No references</span>
    {% endfor %}

    <h2 class="section-title">Referenced by</h2>
    {% for doc_type, docs in referenced_by.items %}
      <dl>
        <dt>{{ doc_type|capfirst }}</dt>
        {% for doc in docs %}
          <dd><a href="{{ doc.details_url }}">{{ doc }}</a></dd>
        {% endfor %}
      </dl>
    {% empty %}
      <span class="na">No references</span>
    {% endfor %}
  </section>

</article>
{% endblock content %}
