{% extends 'layout.html' %}
{% load tags %}

{% block breadcrumbs %}
  {% breadcrumb "Search results" 'results' query %}
  {% breadcrumb "COP decision" %}
{% endblock %}

{% block content %}
{% informea_url_id document %}

<article class="record-details">

  <header>
    <div class="record-title">
      <div class="record-icon">
        <span class="icon icon-cop-decision" title="COP Decision"></span>
      </div>
      <h1>{{ document.title|safe }}</h1>
    </div>

    <dl>
      <dt>{{ document.type|capfirst }}</dt> <dd>{{ document.document_id|default:"-" }}</dd>
      <dt>Document type</dt> <dd>{{ document.type_of_document|capfirst }}</dd>
      <dt>Status</dt> <dd>{{ document.solr.decStatus|capfirst }}</dd>
      <dt>Date</dt> <dd>{{ document.date|date:"b j, Y"|capfirst  }}</dd>
      <dt>Source</dt>
      <dd>{{ document.source }}, <a target="_blank" href="http://www.informea.org/">InforMEA</a></dd>
    </dl>
  </header>

  <section id="details">
    <dl>
      {% if treaty %}
        <dt>Treaty</dt>
        <dd>
          <a href="{{ treaty.details_url }}?{{ query }}">
            {{ treaty }} ({{ treaty.date|date:"b j, Y"|capfirst  }})
          </a>
        </dd>
      {% endif %}

      <dt>Meeting</dt>
      <dd>
        {% if document.solr.decMeetingUrl %}
          <a href="{{ document.solr.decMeetingUrl }}" target="_blank">
            {{ document.solr.decMeetingTitle | safe }}
          </a>
        {% else %}
          {{ document.solr.decMeetingTitle | safe }}
        {% endif %}
      </dd>

      {% if document.url %}
      <dt>Link to decision</dt>
      <dd>
        <a target="_blank" href="{{ document.url }}">{{ document.get_language }}</a>
      </dd>
      {% endif %}

      {% for entry in document.optional_fields %}
        <dt> {{ entry.label }} </dt>
        <dd> {{ entry.value | date:"b j, Y" | capfirst | join_by:", " }}</dd>
      {% endfor %}

      {% if document.keywords %}
        <dt>Keywords</dt>
        <dd>
          {% for keyword in document.keywords %}
            <span class="tag">{{ keyword|capfirst|safe }}</span>
          {% endfor %}
        </dd>
      {% endif %}
    </dl>
  </section>

  <section id="text">
    <dl>
      <dt>Abstract</dt>
      {% for body in document.solr.decBody %}
        <dd>
          <div class="html">{{ body|safe }}</div>
        </dd>
      {% endfor %}
    </dl>
  </section>

  {% if decisions|length %}
    <section id="other-references">
      <h2 class="section-title">Other references</h2>
      <dl>
        <dt>COP decisions</dt>
        <dd>
            <strong>{{ decisions|length }} decisions</strong> related to this treaty.
            <a href="{% url 'resultDecisions' document.id %}">View decisions</a>
        </dd>
      </dl>
    </section>
  {% endif %}

</article>
{% endblock content %}
