{% extends 'details/base.html' %}

{% load tags %}
{% load i18n %}

{% block meta %}
  <title>{{ document.title|striptags|html_unescape }}</title>
  {% if document.abstract %}
  <meta name="description" content="{{ document.abstract|html_unescape }}" />
  {% endif %}
{% endblock %}

{% block scripts %}
  {% if document.treaty_id and document.treaty_slug %}
  <script>
    document.informea_url = "http://www.informea.org/uuid/node/{{ document.decision_id }}";
  </script>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  {% breadcrumb "Search results" 'results' query %}
  {% breadcrumb "COP decision" %}
{% endblock %}

{% block content %}

<article class="record-details">

  <header>
    {% include 'bits/disclaimer.html' with class='InforMEA-disclaimer' %}
    <div class="record-title">
      <div class="record-icon">
        <span class="icon icon-cop-decision" title="{% trans 'COP Decision' %}"></span>
      </div>
      <h1>{{ document.title|safe }}</h1>
    </div>

    <dl>
      <dt>{% trans 'Document type' %}</dt> <dd>{% with type=document.type_of_document|capfirst %} {% trans type %}{% endwith %}</dd>
      <dt>{% trans 'Reference number' %}</dt> <dd>{{ document.dec_number|default:"-" }}</dd>
      <dt>{% trans 'Date' %}</dt> <dd>{{ document.date|date:"b j, Y"|capfirst  }}</dd>
      <dt>{% trans 'Source' %}</dt><dd>UNEP, <a target="_blank" href="http://www.informea.org/uuid/node/{{ document.decision_id }}">InforMEA</a></dd>
    </dl>
  </header>

  <section id="details">
    <dl>
      <dt>{% trans 'Status' %}</dt> <dd>{% with status=document.status|capfirst %} {% trans status %}{% endwith %}</dd>

      {% if document.subjects %}
        <dt>{% trans 'Subject' %}</dt>
        <dd>{{ document.subjects|join:", "|safe }}</dd>
      {% endif %}

      {% if document.keywords %}
        <dt>{% trans 'Keyword' %}</dt>
        <dd>
        {% for keyword in document.keywords %}
            <span class="tag">{{ keyword|capfirst|safe }}</span>
        {% endfor %}
        </dd>
      {% endif %}

      {% if document.treaty %}
        <dt>{% trans 'Treaty' %}</dt>
        <dd>
          <a href="{{ document.treaty.details_url }}?{{ query }}">
            {{ document.treaty.title|safe }} ({{ document.treaty.date|date:"b j, Y"|capfirst  }})
          </a>
        </dd>
      {% endif %}

      <dt>{% trans 'Meeting' %}</dt>
      <dd>
        {% if document.meeting_url %}
          <a href="{{ document.meeting_url }}" rel="nofollow"
             target="_blank">{{ document.meeting_title|safe }}</a>
        {% else %}
          {{ document.meeting_title|safe }}
        {% endif %}
      </dd>

      {% if document.url %}
        <dt>{% trans 'Website' %}</dt>
        <dd>
          <a href="{{ document.url }}"
             target="_blank">{{ document.url|extract_hostname" }}</a>
        </dd>
      {% endif %}

      {% if document.files %}
        <dt>{% trans 'Files' %}</dt>
          {% for url, name in document.files %}
            <dd>
              <a href="{{ url }}" class="file-link" rel="nofollow"
                 target="_blank">{{ name }}</a>
            </dd>
          {% endfor %}
      {% endif %}
    </dl>
  </section>

  {% if document.abstract %}
    <section id="text">
      <dl>
        <dt>{% trans 'Abstract' %}</dt>
        <dd>
          <div class="html">{{ document.abstract|safe }}</div>
        </dd>
      </dl>
    </section>
  {% endif %}

</article>
{% endblock content %}
