{% extends 'layout.html' %}
{% load tags %}

{% block breadcrumbs %}
  {% breadcrumb "Search results" 'results' query %}
  {% breadcrumb "Legislation" %}
{% endblock %}

{% block content %}

<article class="record-details">
  <header>
    <div class="record-title">
      <div class="record-icon">
        <span class="icon icon-legislation" title="Legislation"></span>
      </div>
      <h1>{{ document.title|safe }}</h1>
    </div>

    <dl>
      <dt>Document type</dt><dd>{{ document.type|capfirst }}</dd>
      <dt>Date of text</dt><dd>{{ document.date|date:"b j, Y"|capfirst }}</dd>

      <dt>Source</dt>
      <dd>{{ document.source }}, <a target="_blank" href="http://faolex.fao.org/">FAOLEX</a> (ID: {{ document.document_id }})</dd>
    </dl>
  </header>

  <section id="details">
    <dl>
      <dt>Country</dt>
      <dd>{{ document.country }}</dd>

      {% if document.solr.legTerritorialSubdivision %}
        <dt>Territorial subdivision</dt>
        <dd>{{ document.solr.legTerritorialSubdivision }}</dd>
      {% endif %}

      {% if document.solr.legEntryIntoForce %}
        <dt>Entry into force notes</dt>
        <dd>{{ document.solr.legEntryIntoForce }}</dd>
      {% endif %}

      <dt>Language</dt>
      <dd>{{ document.language }}</dd>

      {% if document.solr.legRelatedWebSite %}
        <dt>Available web site</dt>
        <dd>
          <a href="{{ document.solr.legRelatedWebSite | url_normalize}}" target="_blank">{{ document.solr.legRelatedWebSite }}</a>
        </dd>
      {% endif %}

      {% if document.solr.legLinkToFullText %}
      <dt>Link to full text</dt>
      <dd>
        <a href="{{ document.solr.legLinkToFullText }}" target="_blank">{{ document.language }}</a>
      </dd>
      {% endif %}

      <dt>Subjects</dt>
      <dd>
        {% if document.subjects %}
          {{ document.subjects | join_by:", " | safe }}
        {% else %}
          <span class="na">Not available</span>
        {% endif %}
      </dd>

      <dt>Keywords</dt>
      <dd>
        {% for keyword in document.keywords %}
          <span class="tag">{{ keyword|capfirst|safe }}</span>
        {% empty %}
          <span class="na">Not available</span>
        {% endfor %}
      </dd>
    </dl>
  </section>

  <section id="text">
    <dl>
      <dt>Abstract</dt>
      <dd>
        {% if document.abstract %}
          <p class="abstract">{{ document.abstract|safe }}</p>
        {% else %}
          <p class="na">Not available</p>
        {% endif %}
      </dd>

      <dt>Comment</dt>
      <dd>
        {% if document.solr.legComment %}
          <p class="abstract">{{ document.solr.legComment }}</p>
        {% else %}
          <p class="na">Not available</p>
        {% endif %}
      </dd>
    </dl>
  </section>

  <section id="other-references">
    <h2 class="section-title">Legislation references</h2>
    {% for label, legislations in leg_references.items %}
      <dl class="dl-horizontal references">
        <dt>{{ label }}</dt>
        {% for legislation in legislations %}
          <dd>
            <div class="treaty-link-container">
              <a href="{% url 'legislation_details' legislation.id %}">{{ legislation.title }}</a>
            </div>
            <time>{{ legislation.date|date:"b j, Y"|capfirst  }}</time>
          </dd>
          {% empty %}
          <dd>
            <span class="na">Not available</span>
          </dd>
        {% endfor %}
      </dl>
    {% endfor %}

    {% for label, legislations in leg_back_references.items %}
      <dl class="dl-horizontal references">
        <dt>{{ label }}</dt>
        {% for legislation in legislations %}
          <dd>
            <div class="treaty-link-container">
              <a href="{% url 'legislation_details' legislation.id %}">{{ legislation.title }}</a>
            </div>
            <time>{{ legislation.date|date:"b j, Y"|capfirst  }}</time>
          </dd>
        {% empty %}
          <dd>
            <span class="na">Not available</span>
          </dd>
        {% endfor %}
      </dl>
    {% endfor %}

  </section>

</article>

{% endblock %}
