{% extends 'layout.html' %}
{% load tags %}

{% block breadcrumbs %}
  {% breadcrumb "Search results" 'results' query %}
  {% breadcrumb "Literature" %}
{% endblock %}

{% block content %}
{% informea_url_id document %}

<article class="record-details">

  <header>
    <div class="record-title">
      <div class="record-icon">
        <span class="icon icon-literature" title="Literature"></span>
      </div>
      <h1>{{ document.title|safe }}</h1>
    </div>
  </header>

  <section id="details">
    <dl>
      {% if document.corp_authors %}
        <dt>Corporate author{{ document.corp_authors|length|pluralize:",s" }}</dt>
        <dd>{{ document.corp_authors | join_by:", " | safe }}</dd>
      {% endif %}
      {% if document.people_authors %}
        <dt>Author{{ document.people_authors|length|pluralize:",s" }}</dt>
        <dd>{{ document.people_authors | join_by:", " | safe }}</dd>
      {% endif %}
      {% if document.parent_title %}
        <dt>In</dt>
        <dd>{{ document.parent_title | safe }}</dd>
      {% endif %}

      {% for entry in document.optional_fields %}
        <dt>{{ entry.label }}</dt>
        <dd>{{ entry.value }}</dd>
      {% endfor %}
      <dt>Document type</dt>
      <dd>{{ document.type_of_document|capfirst }}</dd>
      {% if document.solr.litRelatedWebSite %}
      <dt>Available web site</dt>
      <dd>
          <a class="decision-link" href="{{ document.solr.litRelatedWebSite | url_normalize }}">{{ document.solr.litRelatedWebSite }}</a>
      </dd>
      {% endif %}
      {% if document.solr.litLinkDOI %}
      <dt>Available DOI</dt>
      <dd>
          <a class="decision-link" href="{{ document.solr.litLinkDOI | url_normalize }}">{{ document.solr.litLinkDOI }}</a>
      </dd>
      {% endif %}
    </dl>
  </section>

  <section id="text">
    <dl>
      {% if document.region %}
        <dt>Geographical area</dt>
        <dd>{{ document.region }}</dd>
      {% endif %}
      {% if document.basin %}
        <dt>Basin</dt>
        <dd>{{ document.basin }}</dd>
      {% endif %}
      {% if document.jurisdiction %}
        <dt>Field of application</dt>
        <dd>{{ document.jurisdiction }}</dd>
      {% endif %}
      {% if document.countries %}
        <dt>Countr{{ document.countries|length|pluralize:"y,ies" }}</dt>
        <dd>{{ document.countries | join_by:", " | safe }}</dd>
      {% endif %}

      <dt>Subjects</dt>
      <dd>
        {% if document.subjects %}
          {{ document.subjects | join_by:", " | safe }}
        {% else %}
          <span class="na">Not available</span>
        {% endif %}
      </dd>
      <dt>Keywords</dt>
      <dd>{% for keyword in document.keywords %}
            <span class="tag">{{ keyword|capfirst|safe }}</span>
          {% empty %}
            <span class="na">Not available</span>
          {% endfor %}
      </dd>
      {% if document.abstract %}
        <dt>Abstract</dt>
        <dd><p class="abstract">{{ document.abstract|safe }}</p></dd>
      {% endif %}

      <dt>Source</dt>
      <dd><a target="_blank" href="http://iucn.org">{{ document.source }}</a> (ID: {{ document.document_id }})</dd>

      {% if document.solr.litLinkToFullText %}
      <dt>Link to full text</dt>
      <dd>
        <a class="decision-link" href="{{ document.solr.litLinkToFullText }}" target="_blank">{{ document.get_language }}</a>
      </dd>
      {% endif %}
    </dl>
  </section>

  <section id="other-references">
    {% if references_to.items %}
      <h2 class="section-title">References to</h2>
      {% for doc_type, docs in references_to.items %}
        <dl>
          <dt>{{ doc_type|capfirst }}</dt>
          {% for doc in docs %}
            <dd><a href="{{ doc.details_url }}">{{ doc }}</a></dd>
          {% endfor %}
        </dl>
      {% endfor %}
    {% endif %}

    {% if references_from.items %}
      <h2 class="section-title">References from</h2>
      {% for doc_type, docs in references_from.items %}
        <dl>
          <dt>{{ doc_type|capfirst }}</dt>
          {% for doc in docs %}
            <dd><a href="{{ doc.details_url }}">{{ doc }}</a></dd>
          {% endfor %}
        </dl>
      {% endfor %}
    {% endif %}
  </section>

</article>
{% endblock content %}
