{% extends 'layout.html' %}
{% load tags %}

{% block breadcrumbs %}
  {% breadcrumb "Search results" 'results' query %}
  {% breadcrumb "Literature" %}
{% endblock %}

{% block content %}

<article class="record-details">

  <header>
    <div class="record-title">
      <div class="record-icon">
        <span class="icon icon-literature" title="Literature"></span>
      </div>
      <h1>{{ document.title|safe }}</h1>
    </div>
    <dl>
      {% if document.people_authors %}
        <dt>Author{{ document.people_authors|length|pluralize:",s" }}</dt>
        <dd>{{ document.people_authors|join_by:", "|safe }}</dd>
      {% elif document.corp_authors %}
        <dt>Corporate author{{ document.corp_authors|length|pluralize:",s" }}</dt>
        <dd>{{ document.corp_authors|join_by:", "|safe }}</dd>
      {% endif %}

      {% if document.is_article and document.serial_title %}
        <dt>Journal/Series</dt>
        <dd>
          {{ document.serial_title|safe }}
          {% if document.volume_no %} | {{ document.volume_no|safe }} {% endif %}
          {% if document.collation %} | {{ document.collation|safe }} {% endif %}
        </dd>
      {% endif %}

      {% if document.is_chapter and document.parent_title %}
        <dt>Monograph</dt>
        <dd>{{ document.parent_title|safe }}</dd>
      {% endif %}

      {% if document.date %}
        <dt>Publication year</dt>
        <dd>{{ document.date|safe }}</dd>
      {% endif %}
    </dl>
  </header>

  <section id="details">
    <dl>
      {% if document.title_translations %}
        <dt>Title (translation)</dt>
        <dd>
          {% for title in document.title_translations %}
            <p class="alttitle">{{ title.alttitle | safe}}<sup>{{ title.language }}</sup></p>
          {% endfor %}
        </dd>
      {% endif %}

      {% if document.publisher %}
        <dt>Publisher</dt>
        <dd>
          {{ document.publisher }}
          {% if document.publication_place %} | {{ document.publication_place }} {% endif %}
        </dd>
      {% endif %}

      {% if document.isbn %}
        <dt>ISBN</dt>
        <dd>{{ document.isbn|join:", " }}</dd>
      {% endif %}

      {% if document.issn %}
        <dt>ISBN</dt>
        <dd>{{ document.issn }}</dd>
      {% endif %}

      {% if document.collation %}
        <dt>Pages</dt>
        <dd>{{ document.collation }}</dd>
      {% endif %}

      {% if document.type_of_text %}
        <dt>Document type</dt>
        <dd>{{ document.type_of_text|join:", " }}</dd>
      {% endif %}

      {% if document.conference %}
        <dt>Conference</dt>
        <dd>{{ document.conference }}</dd>
      {% endif %}

      {% if document.language_of_document %}
        <dt>Language</dt>
        <dd>{{ document.language_of_document|join:", " }}</dd>
      {% endif %}
    </dl>
  </section>

  <section id="text">
    <dl>
      {% if document.jurisdiction %}
        <dt>Field of application</dt>
        <dd>{{ document.jurisdiction }}</dd>
      {% endif %}

      {% if document.countries %}
        <dt>Countr{{ document.countries|length|pluralize:"y,ies" }}</dt>
        <dd>{{ document.countries | join_by:", " | safe }}</dd>
      {% endif %}

      {% if document.subjects %}
        <dt>Subject{{ document.subjects|length|pluralize:",s" }}</dt>
        <dd>{{ document.subjects | join_by:", " | safe }}</dd>
      {% endif %}

      {% if document.keywords %}
      <dt>Keywords</dt>
      <dd>{% for keyword in document.keywords %}
            <span class="tag">{{ keyword|capfirst|safe }}</span>
          {% endfor %}
      </dd>
      {% endif %}

      {% if document.region %}
        <dt>Geographical area</dt>
        <dd>{{ document.region | join_by:", " | safe }}</dd>
      {% endif %}

      {% if document.basin %}
        <dt>Basin</dt>
        <dd>{{ document.basin | join_by:", " | safe }}</dd>
      {% endif %}

      {% if document.summary %}
        <dt>Abstract</dt>
        <dd><p class="abstract">{{ document.summary|safe }}</p></dd>
      {% endif %}

      {% if document.link_to_full_text %}
      <dt>Full text</dt>
      <dd>
          {% for link in document.link_to_full_text %}
            <a class="decision-link" href="{{ link }}"
               target="_blank">{{ link|extract_filename }}</a>
            &nbsp;
          {% endfor %}
      </dd>
      {% endif %}

      {% if document.link_doi %}
      <dt>Available DOI</dt>
      <dd>
        <a href="{{ document.link_doi|url_normalize }}"
           target="_blank">{{ document.link_doi }}</a>
      </dd>
      {% endif %}

      {% if document.related_web_site %}
      <dt>Available web site</dt>
      <dd>
        <a href="{{ document.related_web_site|url_normalize }}"
           target="_blank">{{ document.related_web_site }}</a>
      </dd>
      {% endif %}

      <dt>Source</dt>
      <dd>
        <a target="_blank" href="http://iucn.org">{{ document.source }}</a>
        (ID: {{ document.document_id }})
      </dd>
    </dl>
  </section>

  <section id="other-references">
  {% if document.treaties or document.legislations or document.court_decisions or document.literatures %}
    <h2 class="section-title">References to</h2>
    {% for treaty in document.treaties %}
      <dl>
        <dt>Treaty</dt>
        <dd>
          <h3 class="search-result-title">
            <a href="{{ treaty.details_url }}?{{ query }}"
               title="{{ treaty.title|safe|striptags }}">{{ treaty.title|safe }}</a>
          </h3>
          {% include 'short_display/treaty.html' with result=treaty %}
        </dd>
      </dl>
    {% endfor %}

    {% for legislation in document.legislations %}
      <dl>
        <dt>Legislation</dt>
        <dd>
          <h3 class="search-result-title">
            <a href="{{ legislation.details_url }}?{{ query }}"
               title="{{ legislation.title|safe|striptags }}">{{ legislation.title|safe }}</a>
          </h3>
          {% include 'short_display/legislation.html' with result=legislation %}
        </dd>
      </dl>
    {% endfor %}

    {% for court_decision in document.court_decisions %}
      <dl>
        <dt>Court decision</dt>
        <dd>
          <h3 class="search-result-title">
            <a href="{{ court_decision.details_url }}?{{ query }}"
               title="{{ court_decision.title|safe|striptags }}">{{ court_decision.title|safe }}</a>
          </h3>
          {% include 'short_display/court_decision.html' with result=court_decision %}
        </dd>
      </dl>
    {% endfor %}

    {% for literature in document.literatures %}
      <dl>
        <dt>Literature</dt>
        <dd>
          <h3 class="search-result-title">
            <a href="{{ literature.details_url }}?{{ query }}"
               title="{{ literature.title|safe|striptags }}">{{ literature.title|safe }}</a>
          </h3>
          {% include 'short_display/literature.html' with result=literature %}
        </dd>
      </dl>
    {% endfor %}
  {% endif %}

  {% if document.references %}
    <h2 class="section-title">References from</h2>
    {% for literature in document.references %}
      <dl>
        <dt>Literature</dt>
        <dd>
          <h3 class="search-result-title">
            <a href="{{ literature.details_url }}?{{ query }}"
               title="{{ literature.title|safe|striptags }}">{{ literature.title|safe }}</a>
          </h3>
          {% include 'short_display/literature.html' with result=literature %}
        </dd>
      </dl>
    {% endfor %}
  {% endif %}
    <a class="decision-link"
        href="http://www.ecolex.org/ecolex/ledge/view/RecordDetails?index=literature&id={{ document.document_id }}" target="_blank">
        Link to ecolex.org (for testing purposes)</a>
  </section>

</article>
{% endblock content %}
