{% extends 'layout.html' %}

{% load tags %}
{% load i18n %}

{% block breadcrumbs %}
  {% breadcrumb "Search results" 'results' query %}
  {% breadcrumb "Treaty" %}
{% endblock %}

{% block content %}

<article class="record-details">

  <header>
    <div class="record-title">
      <div class="record-icon">
        <span class="icon icon-treaty" title="Treaty"></span>
      </div>
      <h1>{{ document.title|safe }}</h1>
    </div>

    <dl>
      <dt>Document type</dt> <dd>{{ document.type_of_document|capfirst }}</dd>
      <dt>Field of application</dt> <dd>{{ document.field_of_application|join:"," }}</dd>
      <dt>Date</dt> <dd>{{ document.date|date:"b j, Y"|capfirst  }}</dd>
    </dl>
  </header>

  <section id="details">
    <dl>
      {% if document.title_abbreviation %}
        <dt>Title abbreviation</dt>
        <dd><p class="alttitle">{{ document.title_abbreviation|join:", " |safe }}</p></dd>
      {% endif %}

      {% for title in document.title_translations %}
        {% if title.language != LANGUAGE_CODE and title.value != document.title %}
          <dt>Title ({{ title.language|language_name_translated|capfirst }})</dt>
          <dd>
            <p class="alttitle">{{ title.value|safe }}</p>
          </dd>
        {% endif %}
      {% endfor %}

      {% if document.place_of_adoption %}
        <dt>Place of adoption</dt>
        <dd>{{ document.place_of_adoption }}</dd>
      {% endif %}

      {% if document.depository %}
        <dt>Depository</dt>
        <dd>{{ document.depository|join:", " }}</dd>
      {% endif %}

      {% if document.language_of_document %}
        <dt>Language</dt>
        <dd>{{ document.language_of_document|capfirstseq|join:", " }}</dd>
      {% endif %}

      {% if document.entry_into_force_date %}
        <dt>Entry into force</dt>
        <dd>{{ document.entry_into_force_date|date:"b j, Y"|capfirst  }}</dd>
      {% endif %}

      {% if document.subjects %}
        <dt>Subject{{ document.subjects|length|pluralize:",s" }}</dt>
        <dd>{{ document.subjects|join:", "|safe }}</dd>
      {% endif %}

      {% if document.keywords %}
        <dt>Keywords</dt>
        <dd>
        {% for keyword in document.keywords %}
          <span class="tag">{{ keyword|capfirst|safe }}</span>
        {% endfor %}
        </dd>
      {% endif %}

      {% if document.region %}
        <dt>Geographical area</dt>
        <dd>{{ document.region|join:", "|safe }}</dd>
      {% endif %}

      {% if document.basin %}
        <dt>Basin</dt>
        <dd>{{ document.basin|join:", "|safe }}</dd>
      {% endif %}
    </dl>
  </section>

  <section id="text">
    <dl>
      {% if document.abstract %}
        <dt>Abstract</dt>
        <dd>
          {% for abstract in document.abstract %}
            <p class="abstract">{{ abstract|safe }}</p>
          {% endfor %}
        </dd>
      {% endif %}

      {% if document.comment %}
        <dt>Comment</dt>
        {% for comment in document.comment %}
        <dd>
          <p class="comment">{{ comment|safe }}</p>
        </dd>
        {% endfor %}
      {% endif %}

      {% if document.link_translations %}
        <dt>Full text</dt>
        <dd>
          {% for link in document.link_translations %}
            {% for value in link.value %}
              <a href="{{ value }}" class="file-link"
                 target="_blank" >{{ link.language|language_name_translated|capfirst }}</a>
              &nbsp;
            {% endfor %}
          {% endfor %}
        </dd>
      {% endif %}

      {% if document.available_in %}
        <dt>Available in</dt>
        <dd>{{ document.available_in|safe }}</dd>
      {% endif %}

      {% if document.related_web_site %}
        <dt>Available web site</dt>
        <dd>
          {% for url in document.related_web_site %}
            {% if not forloop.first %}<br>{% endif %}
            <a target="_blank" href="{{ url|url_normalize }}">{{ url }}</a>
          {% endfor %}
        </dd>
      {% endif %}

      <dt>Source</dt>
      <dd>
        {# Ugly #}
        {% if document.type_of_document|slice:":2" == 'Bi' %}
          <a target="_blank" href="http://faolex.fao.org/">FAO, FAOLEX;</a>&nbsp;
        {% endif %}
        <a target="_blank" href="http://iucn.org">IUCN</a> (ID: {{ document.document_id }})
      </dd>
    </dl>
  </section>

  {% if document.parties %}
  <section id="participants">
    <div class="clearfix">
      <a id="participants-extras"
        href="{% url 'resultParticipants' document.slug %}?{{ query }}"
         class="pull-right btn btn-link">See Expanded View</a>
      <h2 class="section-title">Country/Participant</h2>
    </div>

    <table class="participants">
      <thead>
        <tr>
          <th>Countries</th>
          {% for event in document.parties_events %}
          <th nowrap="nowrap">{{ document.EVENTS_NAMES|lookup:event }}</th>
          {% endfor %}
        </tr>
      </thead>
    <tbody class="body">
        {% for party in document.parties|dictsort:'country' %}
        <tr class="country">
          <th>{{ party.country }}</th>

          {% for event_field in document.parties_events %}
          <td>
            {% with party|getattr:event_field as event %}
              {% if event.date %}
                <time title="{{ document.EVENTS_NAMES|lookup:event.details }} date">
                {{ event.date|parse_date|date:"b j, Y"|capfirst }}
                {% if event.index %}[{{ event.index }}]{% endif %}
                </time>
              {% else %}
                <span class="text-muted" title="Not available">-</span>
              {% endif %}
            {% endwith %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'bits/participants_legend.html' with events=document.parties_events %}

  </section>
  {% endif %}

  {% if document.references %}
  <section id="treaty-references">
    <h2 class="section-title">Treaty references</h2>

    {% for name, value in document.references.items %}
      <dl class="dl-horizontal references">
        <dt>{{ name|labelify }}</dt>
        {% for treaty in value %}
          <dd>
            <div class="treaty-link-container">
              <h3 class="search-result-title">
                <a href="{{ treaty.details_url }}"
                   title="{{ treaty.title|safe|striptags }}">{{ treaty.title|safe }}</a>
              </h3>
              {% include 'short_display/treaty.html' with result=treaty %}
            </div>
          </dd>
        {% endfor %}
      </dl>
    {% endfor %}
  </section>
  {% endif %}

  {% if document.other_references %}
  <section id="other-references">
    <h2 class="section-title">Other references</h2>
    <dl>
      {% if document.decision_count %}
        <dt>COP decisions</dt>
        <dd>
          <strong>{{ document.decision_count }} decisions</strong> related to this treaty.
          <a href="{% url 'resultDecisions' document.slug %}?{{ query }}">View decisions</a>
        </dd>
      {% endif %}
    </dl>

    <dl>
      {% if document.literature_count %}
        <dt>Literature</dt>
        <dd>
        {% with document.literature_count as lit_count %}
          <strong>{{ lit_count }} record{{ lit_count|pluralize:"s" }} </strong> related to this treaty.
        {% endwith %}
          <a href="{% url 'resultLiteratures' document.slug %}?{{ query }}">View literature</a>
        </dd>
      {% endif %}
    </dl>

    <dl>
      {% if document.court_decision_count %}
        <dt>Court Decision</dt>
        <dd>
          <strong>{{ document.court_decision_count }} court decisions</strong> related to this treaty.
          <a href="{% url 'resultCourtDecisions' document.slug %}?{{ query }}">View court decisions</a>
        </dd>
      {% endif %}
    </dl>

  </section>
  {% endif %}

</article>
{% endblock content %}
