{% extends 'layout.html' %}
{% load tags %}

{% block breadcrumbs %}
  {% breadcrumb "Search results" 'results' query %}
  {% breadcrumb "Treaty" %}
{% endblock %}

{% block content %}
<article class="record-details">

  <header>
    <div class="record-title">
      <div class="record-icon">
        <span class="icon icon-treaty" title="Treaty"></span>
      </div>
      <h1>{{ document.title|safe }}</h1>
    </div>

    <dl>
      <dt>Document type</dt> <dd>{{ document.type_of_document|capfirst }}</dd>
      <dt>Field of application</dt> <dd>{{ document.field_of_application }}</dd>
      <dt>Date</dt> <dd>{{ document.date|date:"b j, Y"|capfirst  }}</dd>
    </dl>
  </header>

  <section id="details">
    <dl>
      {% if document.solr.trTitleAbbreviation %}
        <dt>Title abbreviation</dt>
        <dd><p class="alttitle">{{ document.solr.trTitleAbbreviation | join_by:", " |safe }}</p></dd>
      {% endif %}

      {% if document.title_translations %}
        <dt>Title (translation)</dt>
        <dd>
          {% for title in document.title_translations %}
            <p class="alttitle">{{ title.alttitle | safe}}<sup>{{ title.language }}</sup></p>
          {% endfor %}
        </dd>
      {% endif %}

      {% for entry in document.optional_fields %}
        <dt> {{ entry.label }} </dt>
        {% if "url" in entry.type %}
          {% for url in entry.value %}
            <dd><a target="_blank" {% if "tracked" in entry.type %} class="decision-link" {% endif %} href="{{ url }}">{{ url }}</a></dd>
          {% endfor %}
        {% else %}
          <dd>{{ entry.value | join_by:", " }}</dd>
        {% endif %}
      {% endfor %}

      {% if document.subjects %}
        <dt>Subject{{ document.subjects|length|pluralize:",s" }}</dt>
        <dd>{{ document.subjects | join_by:", " | safe }}</dd>
      {% endif %}

      {% if document.keywords %}
        <dt>Keywords</dt>
        <dd>
        {% for keyword in document.keywords %}
          <span class="tag">{{ keyword | capfirst | safe }}</span>
        {% endfor %}
        </dd>
      {% endif %}

      {% if document.region %}
        <dt>Geographical area</dt>
        <dd>{{ document.region | join_by:", " | safe }}</dd>
      {% endif %}

      {% if document.basin %}
        <dt>Basin</dt>
        <dd>{{ document.basin | join_by:", " | safe }}</dd>
      {% endif %}
    </dl>
  </section>

  <section id="text">
    <dl>
      {% if document.solr.trAbstract_en %}
        <dt>Abstract</dt>
        <dd>
          {% for abs in document.solr.trAbstract_en %}
            <p class="abstract">{{ abs|safe }}</p>
          {% endfor %}
        </dd>
      {% endif %}

      {% if document.solr.trComment %}
        <dt>Comment</dt>
        {% for comment in document.solr.trComment %}
        <dd>
          <p class="comment">{{ comment|safe }}</p>
        </dd>
        {% endfor %}
      {% endif %}

      {% if document.link_to_full_text %}
        <dt>Full text</dt>
        <dd>
          {% for link in document.link_to_full_text %}
            <a href="{{ link.url }}" target="_blank">{{ link.language }}</a>
          {% endfor %}
        </dd>
      {% endif %}
      {% if document.solr.trAvailableIn %}
        <dt>Available in</dt>
        <dd>{{ document.solr.trAvailableIn | join_by:", " | safe }}</dd>
      {% endif %}
      {% if document.solr.trUrl %}
        <dt>Available web site</dt>
        <dd><a target="_blank" href="{{ document.solr.trUrl }}">{{ document.solr.trUrl }}</a></dd>
      {% endif %}

      <dt>Source</dt>
      <dd>
        {% if document.type_of_document == 'Bilateral' %}
          <a target="_blank" href="http://faolex.fao.org/">FAO, FAOLEX;</a>
        {% endif %}
        <a target="_blank" href="http://iucn.org">{{ document.source }}</a> (ID: {{ document.document_id }})
      </dd>
    </dl>
  </section>

  {% if document.participants %}
  <section id="participants">
    <div class="clearfix">
      <a id="participants-extras"
        href="{% url 'resultParticipants' document.id %}?{{ query }}"
         class="pull-right btn btn-link">See Expanded View</a>
      <h2 class="section-title">Country/Participant</h2>
    </div>

    <table class="participants">
      <thead>
        <tr>
          <th>Countries</th>
          {% for event_name in document.participants.events %}
          <th nowrap="nowrap">{{ event_name|capfirst }}</th>
          {% endfor %}
        </tr>
      </thead>
    <tbody class="body">
        {% for participant in document.participants.participants %}
        <tr class="country">
          <th>{{ participant.country }}</th>
          {% for event_name in document.participants.events %}
          <td>
            {% with participant.events|lookup:event_name as event %}
              {% if event.date %}
                <time title="{{ event.subgroup|default:event_name|capfirst }} date">
                {{ event.date|parse_date|date:"b j, Y"|capfirst }}
                {% if event.idx %}[{{ event.idx }}]{% endif %}
                </time>
              {% else %}
                <span class="text-muted" title="Not available">-</span>
              {% endif %}
            {% endwith %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'bits/participants_legend.html' with events=document.participants.events %}

  </section>
  {% endif %}

  {% if direct_links or back_links %}
  <section id="treaty-references">
    <h2 class="section-title">Treaty references</h2>
    {% include 'bits/treaty_references.html' with links=direct_links %}
    {% include 'bits/treaty_references.html' with links=back_links %}
  </section>
  {% endif %}

  {% if decisions|length or literatures|length or court_decisions|length %}
  <section id="other-references">
    <h2 class="section-title">Other references</h2>
    <dl>
      {% if decisions|length %}
        <dt>COP decisions</dt>
        <dd>
          <strong>{{ decisions|length }} decisions</strong> related to this treaty.
          <a href="{% url 'resultDecisions' document.id %}?{{ query }}">View decisions</a>
        </dd>
      {% endif %}
    </dl>

    <dl>
      {% if literatures|length %}
        <dt>Literature</dt>
        <dd>
          <strong>{{ literatures|length }} literatures</strong> related to this treaty.
          <a href="{% url 'resultLiteratures' document.id %}?{{ query }}">View literatures</a>
        </dd>
      {% endif %}
    </dl>

    <dl>
      {% if court_decisions|length %}
        <dt>Court Decision</dt>
        <dd>
          <strong>{{ court_decisions|length }} court decisions</strong> related to this treaty.
          <a href="{% url 'resultCourtDecisions' document.id %}?{{ query }}">View court decisions</a>
        </dd>
      {% endif %}
    </dl>

  </section>
  {% endif %}

</article>
{% endblock content %}
