{% extends 'layout.html' %}
{% load tags %}

{% block content %}

<article class="record-details">

  <header>
    <div class="record-title">
      <div class="record-icon">
        <span class="icon icon-treaty" title="Treaty"></span>
      </div>
      <h1>{{ document.title }}</h1>
    </div>

    <dl>
      <dt>Document type</dt> <dd>{{ document.type_of_document|capfirst }}</dd>
      <dt>Field of application</dt> <dd>{{ document.field_of_application }}</dd>
      <dt>Date of document</dt> <dd>{{ document.date }}</dd>
      <dt>Source</dt>
      <dd>{{ document.source }}</dd>
    </dl>
  </header>

  {% if document.also or true %} {# check for alternative titles #}
  <section id="aka">
    <dl>
      <dt>Also known as</dt>
      <dd>
        <ul>
          <li>Convention sur la diversité biologique <sup>French</sup></li>
          <li>other_language_title <sup>language</sup></li>
        </ul>
      </dd>
    </dl>
  </section>
  {% endif %}

  <section id="details">
    <h2 class="section-title">Details</h2>
    <dl>
      {% for entry in document.optional_fields %}
        <dt> {{ entry.label }} </dt>
        {% if "url" in entry.type %}
          {% for url in entry.value %}
            <dd><a target="_blank" {% if "tracked" in entry.type %} class="decision-link" {% endif %} href="{{ url }}">{{ url }}</a></dd>
          {% endfor %}
        {% else %}
          <dd>{{ entry.value | join_by:", " }}</dd>
        {% endif %}
      {% endfor %}

      <dt>Subject</dt>
      <dd>
        {% if document.solr.trSubject %}
          {{ document.solr.trSubject | join_by:", " | safe }}
        {% else %}
          <span class="na">Not available</span>
        {% endif %}
      </dd>
      <dt>Entry into force</dt>
      <dd>
        {% if document.solr.trEntryIntoForceDate %}
          {{ document.entry_into_force}}
        {% else %}
          <span class="na">Not available</span>
        {% endif %}
      </dd>

      <dt>Keywords</dt>
      <dd>
        {% for keyword in document.solr.trKeyword %}
          <span class="tag">{{ keyword }}</span>
        {% empty %}
          <span class="na">Not available</span>
        {% endfor %}
      </dd>
    </dl>
  </section>

  <section id="text">
    <h2 class="section-title">Text</h2>

    <dl>
      <dt>Abstract</dt>
      <dd>
        {% for abs in document.solr.trAbstract %}
          <p class="abstract">{{ abs|safe }}</p>
        {% empty %}
          <span class="na">Not available</span>
        {% endfor %}
      </dd>
      {% if document.solr.trComment %}
        <dt>Comment</dt>
        {% for comment in document.solr.trComment %}
        <dd>
          <p class="comment">{{ comment|safe }}</p>
        </dd>
        {% endfor %}
      {% endif %}
      {% if document.solr.trLinkToFullText %}
        <dt>Link to full text</dt>
        <dd>
            <a href="{{ document.solr.trLinkToFullText.0 }}" class="treaty-link"
             target="_blank">{{ document.solr.trLinkToFullText.0 }}</a>
        </dd>
      {% endif %}
    </dl>
  </section>

  {% if document.participants %}
  <section id="participants">
    <div class="clearfix">
      <a id="participants-extras"
         href="{% url 'resultParticipants' document.id %}"
         class="pull-right btn btn-link">See Expanded View</a>
      <h2 class="section-title">Participants</h2>
    </div>

    <table class="participants">
      <thead>
        <tr>
          <th>Countries</th>
          {% for event in document.participants.events %}
          <th nowrap="nowrap">{{ event|capfirst }}</th>
          {% endfor %}
        </tr>
      </thead>

      <tbody class="body">
        {% for country in document.participants.countries %}
        <tr class="country">
          <th>{{ country.country }}</th>
          {% for event in document.participants.events %}
          <td>
            {% if country|lookup:event %}
              <time title="{{ event|capfirst }} date">{{ country|lookup:event|default:"-"|parse_date }}</time>
            {% else %}
              <span class="text-muted" title="Not available">-</span>
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </section>
  {% endif %}

  {% if references %}
  <section id="treaty-references">
    <h2 class="section-title">Treaty references</h2>
      {% for label, treaties in references.items %}
        <dl class="dl-horizontal references">
          <dt>{{ label }}</dt>
            {% for treaty in treaties %}
            <dd>
              <div class="treaty-link-container">
                <a href="{% url 'treaty_details' treaty.id %}"
                   title="See treaty details">{{ treaty.title }}</a>
               </div>
              <time>{{ treaty.date }}</time>
            </dd>
            {% endfor %}
        </dl>
      {% endfor %}
  </section>
  {% endif %}

  <section id="other-references">
    <h2 class="section-title">Other references</h2>

    <dl>
      <dt>COP decisions</dt>
      <dd>
        {% if decisions|length %}
          <strong>{{ decisions|length }} decisions</strong> related to this treaty.
          <a href="{% url 'resultDecisions' document.id %}">View decisions</a>
        {% else %}
          <span class="na">Not available</span>
        {% endif %}
      </dd>
    </dl>

    <dl>
      <dt>Literature</dt>
      <dd>
        {% if literatures|length %}
          <strong>{{ literatures|length }} literatures</strong> related to this treaty.
          <a href="{% url 'resultLiteratures' document.id %}">View literatures</a>
        {% else %}
          <span class="na">Not available</span>
        {% endif %}
      </dd>
    </dl>

  </section>

</article>
{% endblock content %}
