{% load tags %}

<div class="search-result-details">
    <strong class="sr-type">Court Decision</strong> |
    <span class="sr-doctype">{{ result.type_of_document }}</span> {% if result.country %} |
    <span class="sr-country">{{ result.country }}</span> {% endif %} {% if result.date %} |
    <time class="sr-date" title="Date: {{ result.date }}">
        {{ result.date|date:"b j, Y"|capfirst }}
    </time>
    {% endif %}
</div>
<p class="search-result-description">{# result.summary|safe #}</p>
{% if result.keywords %}
<p class="search-result-details"><strong>Keywords:</strong> {{ result.keywords | join_by:", " | safe }}
</p>
{% endif %}
<p class="search-result-source">Source: {{ result.source }}, <a target="_blank" href="http://www.informea.org/">InforMEA</a></p>

