{% load tags %}
{% load i18n %}

<div class="search-result-details">
  <strong class="sr-type">{% trans 'Decision' %}</strong>
  {% if result.dec_number %}
    <span class="sr-id"> {{ result.dec_number }} </span>
  {% endif %} &ndash;
  <span class="sr-status sr-help" title="{% trans 'Status' %}: {{ result.status|capfirst }}">
    {{ result.status|capfirst }}
  </span>
  {% if result.date %} |
    <time class="sr-date sr-help" title="{% trans 'Date' %}: {{ result.date }}">
      {{ result.date|date:"b j, Y"|capfirst }}
    </time>
  {% endif %}
</div>
{% if result.keywords %}
  <p class="search-result-details">
    <strong>{% trans 'Keywords' %}:</strong> {{ result.keywords|capfirstseq|join:", "|safe }}
  </p>
{% endif %}
<p class="search-result-source">
  <strong>{% trans 'Source' %}:</strong>&nbsp;UNEP,
  <a target="_blank" href="http://www.informea.org/">InforMEA</a>
</p>
