{% load tags %}
{% load i18n %}

<div class="search-result-details">
    <strong class="sr-type">{% trans 'Legislation' %}</strong> {% if result.country %} |
    <span class="sr-jurisdiction sr-help" title="{% trans 'Country/Territory' %}">{{ result.country }}</span> {% endif %}
    {% if result.year %} |
        {% if result.original_year %}
          <span class="sr-date sr-help" title="{% trans 'Original date' %}">{{ result.original_year }}
          <span class="sr-date sr-help" title="{% trans 'Consolidation date' %}">({{ result.year }})</span>
        {% else %}
          <span class="sr-date sr-help" title="{% trans 'Date' %}">{{ result.year }}
        {% endif %}
      </span>
    {% endif %}

    {% if result.status and result.status != "in force" %} |
      <span class="sr-status" title="{% trans 'Status' %}: {{ result.status|capfirst }}">
        {{ result.status|capfirst }}
      </span>
    {% endif %}
</div>

{% if result.keywords %}
  <p class="search-result-details">
    <strong>{% trans 'Keyword' %}:</strong>
    <span class="collapse-keywords">{{ result.keywords|capfirstseq|join:", "|safe }}</span>
  </p>
{% endif %}

<p class="search-result-source">
  <strong>{% trans 'Source' %}:</strong>&nbsp;FAO,
  <a target="_blank" href="http://www.fao.org/faolex/results/details/en/?details={{ result.document_id }}">FAOLEX</a>
</p>
