{% load tags %}

{% if result.authors %}
<p class="search-result-details">
    <strong>Author{{ result.authors|length|pluralize:",s" }}: </strong>
    <span>{{ result.authors | join_by:", " | safe }}</span>
</p>
{% endif %}

<p class="search-result-details">
    {% if result.parent_title %}
    <strong>Journal/Series: </strong><span>{{ result.parent_title | safe }}</span>
        {% if result.solr.litVolumeNo %} | {{ result.solr.litVolumeNo | safe }} {% endif %}
        {% if result.solr.litCollation %} | {{ result.solr.litCollation | safe }} {% endif %}
    {% endif %}
</p>
<p class="search-result-details">
    {% if result.publisher %}<strong>Publisher: </strong><span>{{ result.publisher }}</span>{% endif %}
    {% if result.publication_place %} | <span>{{ result.publication_place }}</span>{% endif %}
    {% if result.publication_date %} | <span>{{ result.publication_date }}</span>{% endif %}
</p>

<p class="search-result-details">
    <strong class="sr-type">{{ result.type|capfirst }}</strong>
    {% if result.jurisdiction %} | <span>{{ result.jurisdiction }}</span> {% endif %}
    {% if result.countries %} | <span>{{ result.countries | join_by:", " | safe }}</span> {% endif %}
</p>

<p class="search-result-details"><strong>Keywords:</strong> {{ result.keywords | join_by:", " | safe }}
</p>
<p class="search-result-source">Source: <a target="_blank" href="http://iucn.org">{{ result.source }}</a> (ID: {{ result.document_id }})</p>
