{% load tags %}
{% load i18n %}

{% if result.authors %}
<p class="search-result-details">
  <strong>{% trans 'Author' %}: </strong>
  <span>{{ result.authors|join:", "|safe }}</span>
</p>
{% endif %}

<p class="search-result-details">
  {% if result.is_article and result.serial_title %}
    <strong>{% trans 'In' %}: </strong><span>{{ result.serial_title|safe }}</span>
    {% if result.volume_no %} | {{ result.volume_no|safe }} {% endif %}
    {% if result.collation %} | {{ result.collation|safe }} {% endif %}
  {% elif result.is_chapter and result.parent_title %}
  <strong>{% trans 'In' %}: </strong><span>{{ result.parent_title|safe }}</span>
    {% if result.volume_no %} | {{ result.volume_no|safe }} {% endif %}
    {% if result.collation %} | {{ result.collation|safe }} {% endif %}
  {% endif %}
</p>
<p class="search-result-details">
  {% if result.publisher %}<strong>{% trans 'Publisher' %}: </strong><span>{{ result.publisher }}</span>{% endif %}
  {% if result.publication_place %} | <span class="sr-pubplace sr-help" title="{% trans 'Publication place' %}">{{ result.publication_place }}</span>{% endif %}
  {% if result.date %} | <span class="sr-pubdate sr-help" title="{% trans 'Publication date' %}">{{ result.date|safe }}</span>{% endif %}
</p>

<p class="search-result-details">
  <strong class="sr-type">{% trans 'Literature' %}</strong>
  {% if result.jurisdiction %} | <span class="sr-jurisdiction sr-help" title="{% trans 'Field of application' %}">{{ result.jurisdiction }}</span> {% endif %}
  {% if result.countries %} | <span class="sr-country sr-help" title="{% trans 'Country' %}">{{ result.countries|join:", "|safe }}</span> {% endif %}
</p>

<p class="search-result-details">
  <strong>{% trans 'Keyword' %}:</strong>
  <span class="collapse-keywords">{{ result.keywords|capfirstseq|join:", "|safe }}</span>
</p>
<p class="search-result-source"><strong>{% trans 'Source' %}: </strong>
  <a target="_blank" href="https://www.iucn.org/theme/environmental-law">IUCN</a> (ID: {{ result.document_id }})
</p>
