{% load tags %}
{% load i18n %}

<div class="search-result-details">
  <strong class="sr-type">{% trans 'Treaty' %}</strong> |
  <span class="sr-doctype sr-help" title="{% trans 'Document type' %}">{{ result.type_of_document }}</span>
  {% if result.place_of_adoption %} |
    <span class="sr-place sr-help" title="{% trans 'Place of adoption' %}"> {{ result.place_of_adoption }}</span>
  {% endif %}
  {% if result.date %} |
    <time class="sr-date sr-help" title="{% trans 'Date' %}: {{ result.date }}">
      {{ result.date|date:"b j, Y"|capfirst }}
    </time>
  {% endif %}
</div>
{% if result.keywords %}
  <p class="search-result-details">
    <strong>{% trans 'Keyword' %}:</strong>
    <span class="collapse-keywords">{{ result.keywords|capfirstseq|join:", "|safe }}</span>
  </p>
{% endif %}
<p class="search-result-source"><strong>{% trans 'Source' %}:</strong>
  {% if result.type_of_document|slice:":2" == 'Bi' %}
    <a target="_blank" href="http://faolex.fao.org/">FAO, FAOLEX;</a>
  {% endif %}
    <a target="_blank" href="http://iucn.org">IUCN</a> (ID: {{ result.document_id }})</p>
