{% for type,count in facet.items %}
  {% if show_empty or count > 0 %}
  <li>
    <label class="facet-checkbox {% if not count %}disabled{% endif %}" for="{{ form_field.name }}_{{ type }}">
      <input type="checkbox"
             id="{{ form_field.name }}_{{ type }}"
             name="{{ form_field.name }}"
             value="{{ type }}"
             {% if type in form_field.data %}checked{% endif %}
             {% if not count %}disabled{% endif %}>
      <span class="facet-text">{{ type|capfirst }}</span>
      <span class="facet-counter">{{ count }}</span>
    </label>
  </li>
  {% endif %}
{% endfor %}
