<div class="clearfix filter-header">
  <h6>{{ title }}</h6>
</div>
<ul class="filter-treaty">
{% for type, count in facet.items %}
  {% if show_empty or count > 0 %}
  <li>
    <label class="facet-checkbox {% if not count %}disabled{% endif %}" for="{{ field.name }}_{{ type }}">
      <input type="checkbox"
             id="{{ field.name }}_{{ type }}"
             name="{{ field.name }}"
             value="{{ type }}"
             {% if type in field.data %}checked{% endif %}
             {% if not count %}disabled{% endif %}>
      <span class="facet-counter">{{ count }}</span>
      <span class="facet-text">{{ type|capfirst }}</span>
    </label>
  </li>
  {% endif %}
{% endfor %}
</ul>
