{% load i18n %}

<div class="alert alert-warning alert-dismissible small {{ class }}" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <span>{% trans 'Information on this section of ECOLEX comes from the InforMEA Portal which compiled  information from MEA Secretariats with the support of the European Union. The accuracy of the information displayed is the responsibility of the originating data source. In case of discrepancy  the information as displayed on the respective MEA website prevails.' %}</span>
</div>
