<!-- FlipSwitch from https://proto.io/freebies/onoff/-->
<div class="onoffswitch small">
  <input type="checkbox"
         id="facet-{{ field.name }}"
         name="{{ field.name }}"
         class="onoffswitch-checkbox"
         {% if field.data %}checked{% endif %}>
  <label class="onoffswitch-label" for="facet-{{ field.name }}">
    <span class="onoffswitch-or">or</span><!--{# removes whitespace #}
 --><span class="onoffswitch-switch"></span><!--{# removes whitespace #}
 --><span class="onoffswitch-and">and</span>
  </label>
</div>

<button class="no-btn small reset-multiple" data-target="#facet-{{ target }}">
  Reset
</button>
