<!-- FlipSwitch from https://proto.io/freebies/onoff/-->
<div class="onoffswitch small">
  <input type="checkbox" class="onoffswitch-checkbox"
         name="{{ form_field.name }}" data-target="{{ form_target }}"
         id="{{ form_field.name }}_AND" value="AND"
         {% if form_field.data %}checked{% endif %}>
  <label class="onoffswitch-label" for="{{ form_field.name }}_AND">
    <span class="onoffswitch-or">or</span><!-- removes whitespace
 --><span class="onoffswitch-switch"></span><!-- removes whitespace
 --><span class="onoffswitch-and">and</span>
  </label>
</div>

<button class="no-btn small reset-multiple"
        name="{{ form_field.name }}" data-target="{{ form_target }}">
  Reset
</button>
