<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ GA_CODE }}', 'auto');
  ga('send', 'pageview');

  // FIXME(catalinb): duplicate code
  function decision_link() {
    var url = this.href;
    var eventAction = "Outbound Result Link";

    if (this.hostname === "faolex.fao.org") {
      eventAction = "Faolex Result Link";
    } else if (this.hostname === "www.ecolex.org") {
      eventAction = "Internal Result Link";
    }

    ga('send', 'event', 'Decision Outbound Link', eventAction, url);
  }

  function treaty_link() {
    var url = this.href;
    var eventAction = "Outbound Result Link";

    if (this.hostname === "faolex.fao.org") {
      eventAction = "Faolex Result Link";
    } else if (this.hostname === "www.ecolex.org") {
      eventAction = "Internal Result Link";
    }

    ga('send', 'event', 'Treaty Outbound Link', eventAction, url);
  }

  window.addEventListener('load', function () {
    // setup handlers
    $(".decision-link").click(decision_link);
    $(".treaty-link").click(treaty_link);
  });
</script>
