<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ GA_CODE }}', 'auto');
  ga('send', 'pageview');

  // informea.org tracker.
  ga('create', 'UA-58483450-2', 'auto', {'name': 'informea'});
  if (document.informea_url) {
    ga('informea.set', 'location', document.informea_url);
    ga('informea.send', 'pageview');
  }

  function set_custom_dimension(elem) {
    if (elem.hostname === "faolex.fao.org") {
      ga('set', 'dimension1', true);
      // Faolex visitor session
      ga('set', 'dimension3', true);
      // Faolex hit
      ga('set', 'dimension5', true);
      ga('set', 'metric1', 1);
    } else if (elem.hostname === "www.ecolex.org") {
      // Ecolex visitor (internal)
      ga('set', 'dimension2', true);
      // Ecolex visitor session
      ga('set', 'dimension4', true);
      // Ecolex document hit
      ga('set', 'dimension6', true);
      ga('set', 'metric2', 1);
      eventAction = "InternalResultLink";
    }
  }

  // FIXME(catalinb): duplicate code
  function decision_link() {
    var url = this.href;
    var eventAction = "Outbound Result Link";

    if (this.hostname === "faolex.fao.org") {
      eventAction = "Faolex Result Link";
    } else if (this.hostname === "www.ecolex.org") {
      eventAction = "Internal Result Link";
    }
    set_custom_dimension(this);

    ga('send', 'event', 'Decision Outbound Link', eventAction, url);
  }

  function treaty_link() {
    var url = this.href;
    var eventAction = "Outbound Result Link";

    if (this.hostname === "faolex.fao.org") {
      eventAction = "Faolex Result Link";
    } else if (this.hostname === "www.ecolex.org") {
      eventAction = "Internal Result Link";
    }
    set_custom_dimension(this);

    ga('send', 'event', 'Treaty Outbound Link', eventAction, url);
  }

  window.addEventListener('load', function () {
    // setup handlers
    $(".decision-link").click(decision_link);
    $(".treaty-link").click(treaty_link);
  });
</script>
