{% if settings.GA_ENABLED %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  var ecolex_code = '{{ settings.ECOLEX_CODE }}',
      informea_code = '{{ settings.INFORMEA_CODE }}',
      faolex_code =  '{{ settings.FAOLEX_CODE }}',
      faolex_code_2 = '{{ settings.FAOLEX_CODE_2 }}';

  ga('create', ecolex_code, 'auto');
  ga('send', 'pageview');

  ga('create', informea_code, 'auto', {'name': 'informea'});
  ga('create', faolex_code, 'auto', {'name': 'faolex'});
  ga('create', faolex_code_2, 'auto', {'name': 'allSites'});

  if (document.informea_url) {
    send_hit('informea', document.informea_url)
  } else if (document.faolex_url) {
    send_hit('faolex', document.faolex_url);
    send_hit('allSites', document.faolex_url);
  }

  function send_hit(tracker_name, url) {
    ga(tracker_name + '.set', 'referrer', document.referrer);
    ga(tracker_name + '.set', 'hostname', document.hostname);
    ga(tracker_name + '.set', 'location', url);
    ga(tracker_name + '.send', 'pageview');
  }

  function legislation_link() {
    var url = this.href;
    var eventAction = "OutboundPdfLink";
    //Hit ecolex with outboundlink
    ga('send', 'event', 'OutboundLink', eventAction, url);

    if (this.hostname == "faolex.fao.org") {
      // Hit faolex
      send_hit('faolex', document.faolex_url);
    }
  }

  window.addEventListener('load', function () {
    // setup handlers
    $(".file-link").click(legislation_link);
  });
</script>
{% endif %}
