<div style="display:none;" id="search-form-inputs">

  {{ form.type }}

  {{ form.tr_type }}
  {{ form.tr_field }}
  {{ form.tr_status }}
  {{ form.tr_depository }}
  {{ form.tr_depository_op }}
  {{ form.tr_place_of_adoption }}
  {{ form.tr_place_of_adoption_op }}

  {{ form.dec_type }}
  {{ form.dec_status }}
  {{ form.dec_treaty }}

  {{ form.cd_type }}
  {{ form.cd_territorial_subdivision }}

  {{ form.lit_type }}
  {{ form.lit_type2 }}
  {{ form.lit_author }}
  {{ form.lit_author_op }}
  {{ form.lit_serial }}
  {{ form.lit_publisher }}

  {{ form.leg_type }}
  {{ form.leg_territorial }}
  {{ form.leg_status }}

  {{ form.subject }}
  {{ form.subject_op }}

  {{ form.keyword }}
  {{ form.keyword_op }}

  {{ form.country }}
  {{ form.country_op }}

  {{ form.region }}
  {{ form.region_op }}

  {{ form.language }}
  {{ form.language_op }}

  {{ form.yearmin }}
  {{ form.yearmax }}
  {{ form.sortby }}

</div>
