{% load i18n %}

<ul class="dropdown-menu">
<li><a target="_blank" href="http://www.protectedareaslaw.org/">{% trans 'Protected Areas Law' %}</a></li>
<li><a target="_blank" href="http://www.lawforsustainability.org/">{% trans 'Law for Sustainability' %}</a></li>
<li><a target="_blank" href="http://www.waterlawandgovernance.org/">{% trans 'Water Law & Governance Support Platform' %}</a></li>
<li><a target="_blank" href="http://live-elc-mesolex.pantheon.io/">{% trans 'Mesolex' %}</a></li>
<li><a target="_blank" href="http://leo.informea.org/">{% trans 'Law & Environment Ontology' %}</a></li>
<li><a target="_blank" href="http://faolex.fao.org/fishery/">{% trans 'Fishlex' %}</a></li>
<li><a target="_blank" href="http://iucn-wildlife-test.edw.ro/">{% trans 'Wildlex' %}</a></li>
</ul>
