<!-- FlipSwitch from https://proto.io/freebies/onoff/-->
<li>
  <div class="onoffswitch">
    <input type="checkbox" class="onoffswitch-checkbox"
           name="{{ form_field.name }}" data-target="{{ form_target }}"
           id="{{ form_field.name }}_AND" value="AND"
           {% if form_field.data %}checked{% endif %}>
    <label class="onoffswitch-label" for="{{ form_field.name }}_AND">
      <span class="onoffswitch-inner"></span>
      <span class="onoffswitch-switch"></span>
    </label>
  </div>
</li>
