{% load i18n %}
{% spaceless %}

<script type="text/javascript">
    var colors = {
        'Entry into force': '#31a354',
        'Ratification': '#a1d99b',
        'Simple signature': '#9ecae1',
        'Provisional application': '#e5f5e0',
        'Withdrawal': '#3182bd',
        defaultFill: '#DDDDDD'
    };
    var highlight_fills = {
       'Entry into force': '#1bba4a ',
       'Ratification': '#91ee86 ',
       'Simple signature': '#8fceef ',
       'Provisional application': '#e3fadc ',
       'Withdrawal': '#1e85d0 ',
   };
    var map_data = {
        {% for party_code, data in parties.items %}
          '{{ party_code }}': {
            'fillKey': '{{ data.fillKey }}',
            'stats': '{{ data.stats|safe }}',
            'highlightFillColor': highlight_fills['{{ data.fillKey }}'],
          },
        {% endfor %}
    };
    console.log(map_data);
    var map_options = {
        element: document.getElementById('regions_div'),
        responsive: true,
        fills: colors,
        geographyConfig: {
            dataUrl: '/static/json/world.topo.json',
            hideAntarctica: true,
            highlightOnHover: true,
            highlightFillColor: '#C2C2C2',
            highlightBorderColor: 'rgba(30, 30, 30, 0.2)',
            highlightBorderWidth: 1,
            highlightBorderOpacity: 0,
            borderColor: '#FDFDFD',
            popupTemplate: function(geo, data) {
                if (data == null) {
                    var stats = 'Status: N/A';
                } else {
                    var stats = data.stats;
                }
                return ['<div class="hoverinfo">',
                    '<h4>', geo.properties.name, '</h4>',
                    stats,
                    '</div>'].join('');
            }
        },
        data: map_data,
        scope: 'ESRI_country08',
        setProjection: function(element) {
          var projection = d3.geo.mercator()
            //.center([0, 30])
            //.scale(180)
            .translate([element.offsetWidth / 2, element.offsetHeight / 2 + 100]);

           var path = d3.geo.path().projection(projection);
           return {path: path, projection: projection};
        }
    };
    var map = new Datamap(map_options);
    map.legend();

    $('#regions_div').addClass("collapse");
    $('#participants-map').click(function(e) {
        $(this).text(function(i, old){
            return old == "{% trans 'Show Map' %}" ? "{% trans 'Hide Map' %}" : "{% trans 'Show Map' %}";
        });
    });
</script>
{% endspaceless %}
