<script type="text/javascript">
    var map_data = {
        'ROU': {
            'fillKey': 'entry_into_force',
            'status': 'blah'
        },
        {% for party_code, data in parties.items %}
          {# ISO_3DIGIT here instead of country name #}
          '{{ party_code }}': {
            'fillKey': '{{ data.fillKey }}',
            {# one of entry_into_force, ratification or simple_signature #}
            'stats': '{{ data.stats|safe }}',
            {# Additional info for the popup - same info as in the table, explicit event types #}
          },
        {% endfor %}
    };
    console.log(map_data);
    var map_options = {
        element: document.getElementById('regions_div'),
        responsive: true,
        fills: {
            'entry_into_force': '#31a354',
            'ratification': '#a1d99b',
            'simple_signature': '#e5f5e0',
            'provisional_application': '#9ecae1',
            'withdrawal': '#3182bd',
            defaultFill: '#DDDDDD'
        },
        geographyConfig: {
            dataUrl: '/static/json/world.topo.json',
            hideAntarctica: true,
            highlightOnHover: true,
            highlightFillColor: '#18983f',
            highlightBorderColor: 'rgba(30, 30, 30, 0.2)',
            highlightBorderWidth: 1,
            highlightBorderOpacity: 0,
            borderColor: '#FDFDFD',
            popupTemplate: function(geo, data) {
                return ['<div class="hoverinfo">',
                    '<h4>', geo.properties.name, '</h4>',
                    data.stats,
                    '</div>'].join('');
            }
        },
        data: map_data,
        scope: 'ESRI_country08',
        setProjection: function(element) {
          var projection = d3.geo.mercator()
            //.center([0, 30])
            //.scale(180)
            .translate([element.offsetWidth / 2, element.offsetHeight / 2 + 100]);

           var path = d3.geo.path().projection(projection);
           return {path: path, projection: projection};
        }
    };
    var map = new Datamap(map_options);
    map.legend();

    $('#regions_div').addClass("collapse");
</script>
