{% load i18n %}
{% load json %}
{% load tags %}

<div class="filter">

  <div class="filter-header" id="facet-{{ field.name }}-container">
    <label class="filter-label filter-label-add"
           title="{{ tooltip }}"
           for="facet-{{ field.name }}-search-field"
           data-target="#facet-{{ field.name }}">
      {{ title }}
    </label>
    <span class="filter-options" data-formid="#id_{{ name }}_op">
      {% if field.and_field and field.value|length > 1 %}
        {% include 'bits/facet_operation.html' with field=field.and_field %}
      {% endif %}
      {% if field.value|length > 0 %}
        {% include 'bits/facet_reset.html' with target=field.name %}
      {% endif %}
    </span>

  </div>
  <div class="filter-body">
    <select id="facet-{{ field.name }}"
            name="{{ field.name }}"
            class="selection-facet clearfix"
            multiple="true"
            data-placeholder="{{ placeholder }}"{% if viewname %}
            data-ajax--url="{% url viewname %}?lang={{ LANGUAGE_CODE }}"{% endif %}
            data-more="{{ field.facet.more|yesno:"true,false" }}">
      {% for item in field.facet.data %}
          <option id="{{ item.text }}"{% if item.selected %} selected{% endif %} data-count="{{ item.count }}">{{ item.text }}</option>
      {% endfor %}
    </select>
  </div>

</div>
