{% load tags %}
{% if form.sortby.value %}<input id="id_{{ form.sortby.name }}" name="{{ form.sortby.name }}" type="hidden" value="{{ form.sortby.value }}">{% endif %}
{% for id, txt in form.fields.sortby.choices %}{% if not forloop.first %} | {% endif %}
  {% if not id and not form.sortby.value or id == form.sortby.value %}
<strong>Sorted by {{ txt }}</strong>
  {% else %}
<a {#data-sortby="{{ id }}" class="sortby" #}href="{% url "results" %}?{{ form.sortby|field_urlencoded:id }}">Sort by {{ txt }}</a>
  {% endif %}
{% endfor %}
