<script type="application/ld+json">
[
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "https://www.ecolex.org/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://www.ecolex.org/result/?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  },
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": "https://www.ecolex.org",
    "logo": "https://www.ecolex.org/static/img/logo-ecolex.png"
  }
]
</script>
