<div class="btn-group btn-group-sm filter-type">
  <!-- Treaty filter -->
  <button type="button"
          class="btn btn-default {% if 'treaty' in form.type.data %}active{% endif %}"
          data-filter="#treaty-fieldset"
          data-toggle="tooltip"
          data-placement="bottom"
          data-container="body"
          data-value="treaty"
          title="Show Treaties">
    <span class="icon icon-treaty"></span>
    {% if facets.type.treaty > 0 %}
      <span class="badge">{{ facets.type.treaty }}</span>
    {% endif %}
    <span class="btn-label">Treaties</span>
  </button>

  <!-- COP decision filter -->
  <button type="button"
          class="btn btn-default {% if 'decision' in form.type.data %}active{% endif %}"
          data-filter="#copdecision-fieldset"
          data-toggle="tooltip"
          data-placement="bottom"
          data-container="body"
          data-value="decision"
          title="Show COP decisions">
    <span class="icon icon-cop-decision"></span>
    {% if facets.type.decision > 0 %}
      <span class="badge">{{ facets.type.decision }}</span>
    {% endif %}
    <span class="btn-label">COP Decisions</span>
  </button>

  <!-- Legislation filter -->
  <button type="button"
          class="btn btn-default"
          data-filter
          data-toggle="tooltip"
          data-placement="bottom"
          data-container="body"
          title="Hide Legislation"
          disabled>
    <span class="icon icon-legislation"></span>
    <span class="badge"></span>
    <span class="btn-label">Legislation</span>
  </button>

  <!-- Court decision filter -->
  <button type="button"
          class="btn btn-default"
          data-filter
          data-toggle="tooltip"
          data-placement="bottom"
          data-container="body"
          title="Hide Court Decisions"
          disabled>
    <span class="icon icon-court-decision"></span>
    <span class="badge"></span>
    <span class="btn-label">Court Decisions</span>
  </button>

  <!-- Literature filter -->
  <button type="button"
          class="btn btn-default"
          data-filter
          data-toggle="tooltip"
          data-placement="bottom"
          data-container="body"
          title="Hide Literature"
          disabled>
    <span class="icon icon-literature"></span>
    <span class="badge"></span>
    <span class="btn-label">Literature</span>
  </button>
</div>