{% extends 'layout.html' %}
{% load tags %}

{% block content %}
<article class="record-details">

  <header>
    <h1>{{ document.title }}</h1>

    <dl>
      <dt>{{ document.type|capfirst }}</dt> <dd>{{ document.document_id|default:"-" }}</dd>
      <dt>Document type</dt> <dd>{{ document.type_of_document|capfirst }}</dd>
      {% if document.type == 'treaty' %}
      <dt>Field of application</dt> <dd>{{ document.field_of_application }}</dd>
      {% endif %}
      {% if document.type == 'decision' %}
      <dt>Status</dt> <dd>{{ document.solr.decStatus.0|capfirst }}</dd>
      {% endif %}
      <dt>Date of document</dt> <dd>{{ document.date }}</dd>
    </dl>
  </header>

  {% if document.also or true %} {# check for alternative titles #}
  <section id="aka">
    <dl>
      <dt>Also known as</dt>
      <dd>
        <ul>
          <li>Convention sur la diversité biologique <sup>French</sup></li>
          <li>other_language_title <sup>language</sup></li>
        </ul>
      </dd>
    </dl>
  </section>
  {% endif %}

  <section id="details">
    <h2 class="section-title">Details</h2>
    <dl>
      {% if document.type == 'decision' %}
        {% for treaty in all_treaties %}
        <dt>Treaty</dt>
        <dd><a href="{% url 'result' treaty.id %}">{{ treaty.full_title }}</a></dd>
        {% endfor %}
      {% endif %}
      {% for entry in document.optional_fields %}
        <dt> {{ entry.label }} </dt>
        {% if entry.type == "url" %}
          <dd>
            {% for url in entry.value %}
            <a target="_blank" href="{{ url }}">{{ url }}</a><br>
            {% endfor %}
          </dd>
        {% elif entry.type == "text" %}
          <dd>
            {% for abs in entry.value %}
              <p class="abstract">{{ abs|safe }}</p>
            {% endfor %}
          </dd>
        {% elif entry.type == "keyword" %}
          <dd>
            <ul class="list-inline">
            {% for value in entry.value %}
              <li><span class="tag">{{ value }}</span></li>
            {% endfor %}
            </ul>
            {{ entry.value | join_by:", " | safe }}
          </dd>
        {% elif entry.type == "summary" %}
          <dd>{{ entry.value | safe }}</dd>
        {% else %}
          <dd>{{ entry.value | join_by:", " }}</dd>
        {% endif %}
      {% endfor %}
    </dl>
  </section>

  {% if document.type == 'treaty' and document.participants %}
  <section id="participants">
    <h2 class="section-title">Participants</h2>

    <table class="participants">
      <thead>
        <tr>
          <th>&nbsp;</th>
          {% for event in document.participants.events %}
          <th nowrap="nowrap">{{ event|capfirst }}</th>
          {% endfor %}
        </tr>
      </thead>

      <tbody class="body">
        {% for country in document.participants.countries %}
        <tr class="country">
          <th>{{ country.country }}</th>
          {% for event in document.participants.events %}
          <td>{{ country|lookup:event|default:"-"|parse_date }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </section>
  {% endif %}

  {% if document.type == 'treaty' and references %}
  <section id="treaty-references">
    <h2 class="section-title">Treaty references</h2>
      {% for label, treaties in references.items %}
        <dl class="dl-horizontal references">
          <dt>{{ label }}</dt>
            {% for treaty in treaties %}
            <dd>
                <a href="{% url 'result' treaty.id %}">
                    {{ treaty.title }}</a>
                {{ treaty.date }}
            </dd>
            {% endfor %}
        </dl>
      {% endfor %}
  </section>
  {% endif %}

  {% if document.other_references or true %}
  <section id="other-references">
    <h2 class="section-title pull-left">Other references</h2>

    <div class="indent">
      <a href="">215 in total</a>
      <ul>
        <li><a href="">45 to literature</a></li>
        <li><a href="">124 to court decisions</a></li>
        <li><a href="">56 to legislation</a></li>
      </ul>
    </div>
  </section>
  {% endif %}

  {% if document.subjects %}
  <section id="subjects">
    <h2 class="section-title pull-left">Subjects</h2>
    <div class="indent">
      <ul>
        <li>Subject</li>
        <li>Subject</li>
        <li>Subject</li>
        <li>Subject</li>
      </ul>
    </div>
  </section>
  {% endif %}

  {% if document.keywords %}
  <section id="keywords">
    <h2 class="section-title pull-left">Keywords</h2>
    <div class="indent">
      <ul class="list-inline">
        <li>Some keyword</li>
        <li>Some keyword</li>
        <li>Some keyword</li>
        <li>Some keyword</li>
      </ul>
    </div>
  </section>
  {% endif %}

    {% if debug %}
    <section id="debug">
        <pre>
        {{ document.solr }}
        </pre>
    </section>
    {% endif %}

</article>
{% endblock content %}
