{% extends 'layout.html' %}
{% load tags %}

{% block style %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
{% endblock %}

{% block breadcrumbs %}
  {% breadcrumb "Search results" 'results' query %}
  {% breadcrumb "Treaty" 'treaty_details' query id=treaty.id %}
  {% breadcrumb "Country/Participant" %}
{% endblock %}

{% block content %}
<p>
  <span class="treaty-name">{{ treaty.title|safe }} ({{ treaty.date }})</span>
</p>

<hr>

<article class="record-details-participants">
  <header>
    <h1>Country/Participant</h1>
  </header>

  <div class="table-wrapper">
    <table class="table table-bordered" id="country-party">
      <thead>
        <tr>
          <th class="col-country">Countries</th>
          {% for event in treaty.parties_events %}
          <th>{{ treaty.EVENTS_NAMES|lookup:event }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for participant in treaty.parties %}
          <tr>
            <th>{{ participant.country }}</th>
            {% for event_field in treaty.parties_events %}
              {% with participant|getattr:event_field as event %}
                {% if event.date %}
                  <td data-order="{{ event.date|parse_date|total_seconds }}"
                      title="{{ treaty.EVENTS_NAMES|lookup:event.details }} date">
                    {{ event.date|parse_date|date:"b j, Y"|capfirst }}
                    {% if event.index %}[{{ event.index }}]{% endif %}
                  </td>
                {% else %}
                  <td title="Not available">-</td>
                {% endif %}
              {% endwith %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <br>
  {% include 'bits/participants_legend.html' with events=treaty.participants.events %}

</article>
{% endblock %}

{% block endscripts %}
  <script src="/static/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function(){
      $('#country-party').DataTable( {
        "paging":  false,
        "info":    false,
        "bFilter": false,
      });
    });
  </script>
{% endblock %}
