{% extends 'layout.html' %}
{% load tags %}

{% block content %}
<script>
{% if informea_url_id %}
  document.informea_url = "http://www.informea.org/treaties/{{informea_url_id}}/decision/{{document.solr.decId}}";
{% endif %}
</script>

<article class="record-details">

  <header>
    <div class="record-title">
      <div class="record-icon">
        {% if document.type == 'decision' %}
          <span class="icon icon-cop-decision" title="COP Decision"></span>
        {% else %}
          <span class="icon icon-treaty" title="Treaty"></span>
        {% endif %}
      </div>
      <h1>{{ document.title }}</h1>
    </div>

    <dl>
      {% if document.type == 'decision' %}
        <dt>{{ document.type|capfirst }}</dt> <dd>{{ document.document_id|default:"-" }}</dd>
      {% endif %}
      <dt>Document type</dt> <dd>{{ document.type_of_document|capfirst }}</dd>
      {% if document.type == 'treaty' %}
      <dt>Field of application</dt> <dd>{{ document.field_of_application }}</dd>
      {% endif %}
      {% if document.type == 'decision' %}
      <dt>Status</dt> <dd>{{ document.solr.decStatus.0|capfirst }}</dd>
      {% endif %}
      <dt>Date of document</dt> <dd>{{ document.date }}</dd>
      <dt>Source</dt>
      <dd>{% if document.type == 'decision' %}InforMEA{% else %}IUCN{% endif %}</dd>
    </dl>
  </header>

  {% if document.also or true %} {# check for alternative titles #}
  <section id="aka">
    <dl>
      <dt>Also known as</dt>
      <dd>
        <ul>
          <li>Convention sur la diversité biologique <sup>French</sup></li>
          <li>other_language_title <sup>language</sup></li>
        </ul>
      </dd>
    </dl>
  </section>
  {% endif %}

  <section id="details">
    <h2 class="section-title">Details</h2>
    <dl>
      {% if document.type == 'decision' %}
        {% for treaty in all_treaties %}
        <dt>Treaty</dt>
        <dd><a href="{% url 'result' treaty.id %}">{{ treaty.full_title }}</a></dd>
        {% endfor %}
        <dt>Meeting</dt>
        <dd>
          {% if document.solr.decMeetingUrl %}
            <a href="{{ document.solr.decMeetingUrl.0 }}"
               rel="external">{{ document.solr.decMeetingTitle.0 | safe }}</a>
          {% else %}
            {{ document.solr.decMeetingTitle.0 | safe }}
          {% endif %}
        </dd>
      {% endif %}

      {% for entry in document.optional_fields %}
        <dt> {{ entry.label }} </dt>
        {% if "url" in entry.type %}
          {% for url in entry.value %}
            <dd><a target="_blank" {% if "tracked" in entry.type %} class="decision-link" {% endif %} href="{{ url }}">{{ url }}</a></dd>
          {% endfor %}
        {% else %}
          <dd>{{ entry.value | join_by:", " }}</dd>
        {% endif %}
      {% endfor %}

      {% if document.type == 'treaty' %}
        <dt>Subject</dt>
        <dd>
          {% if document.solr.trSubject %}
            {{ document.solr.trSubject | join_by:", " | safe }}
          {% else %}
            <span class="na">Not available</span>
          {% endif %}
        </dd>
        <dt>Entry into force</dt>
        <dd>
          {% if document.solr.trEntryIntoForceDate %}
            {{ document.entry_into_force}}
          {% else %}
            <span class="na">Not available</span>
          {% endif %}
        </dd>
      {% endif %}

      <!-- Ajutor -->
      {% if document.type == 'treaty' %}
        <dt>Keywords</dt>
        <dd>
          {% for keyword in document.solr.trKeyword %}
            <span class="tag">{{ keyword }}</span>
          {% empty %}
            <span class="na">Not available</span>
          {% endfor %}
        </dd>
      {% endif %}
      {% if document.type == 'decision' %}
        <dt>Keywords</dt>
        <dd>
          {% for keyword in document.solr.decKeyword %}
            <span class="tag">{{ keyword }}</span>
          {% empty %}
            <span class="na">Not available</span>
          {% endfor %}
        </dd>
      {% endif %}
    </dl>
  </section>

  {% if document.type == 'decision' %}
  <section id="text">
    <h2 class="section-title">Text</h2>

    <dl>
      <dt>Summary</dt>
      <dd>
        {% for summary in document.solr.decSummary %}
          <p class="summary">{{ summary|safe }}</p>
        {% empty %}
          <span class="na">Not available</span>
        {% endfor %}
      </dd>
      <dt>Decision Body</dt>
      {% for body in document.solr.decBody %}
        <dd>
          <div class="html-disclaimer">As extracted from source. For details check the link to decision above.
          </div>
          <div class="html">{{ body|safe }}</div>
        </dd>
      {% empty %}
        <dd><span class="na">Not available</span></dd>
      {% endfor %}
    </dl>
  </section>
  {% endif %}

  {% if document.type == 'treaty' %}
  <section id="text">
    <h2 class="section-title">Text</h2>

    <dl>
      <dt>Abstract</dt>
      <dd>
        {% for abs in document.solr.trAbstract %}
          <p class="abstract">{{ abs|safe }}</p>
        {% empty %}
          <span class="na">Not available</span>
        {% endfor %}
      </dd>
      {% if document.solr.trComment %}
        <dt>Comment</dt>
        {% for comment in document.solr.trComment %}
        <dd>
          <p class="comment">{{ comment|safe }}</p>
        </dd>
        {% endfor %}
      {% endif %}
      {% if document.solr.trLinkToFullText %}
        <dt>Link to full text</dt>
        <dd>
            <a href="{{ document.solr.trLinkToFullText.0 }}" class="treaty-link"
             target="_blank">{{ document.solr.trLinkToFullText.0 }}</a>
        </dd>
      {% endif %}
    </dl>
  </section>
  {% endif %}

  {% if document.type == 'treaty' and document.participants %}
  <section id="participants">
    <div class="clearfix">
      <a id="participants-extras" 
         href="{% url 'resultParticipants' document.id %}"
         class="pull-right btn btn-link">See Expanded View</a>
      <h2 class="section-title">Participants</h2>
    </div>

    <table class="participants">
      <thead>
        <tr>
          <th>Countries</th>
          {% for event in document.participants.events %}
          <th nowrap="nowrap">{{ event|capfirst }}</th>
          {% endfor %}
        </tr>
      </thead>

      <tbody class="body">
        {% for country in document.participants.countries %}
        <tr class="country">
          <th>{{ country.country }}</th>
          {% for event in document.participants.events %}
          <td>
            {% if country|lookup:event %}
              <time title="{{ event|capfirst }} date">{{ country|lookup:event|default:"-"|parse_date }}</time>
            {% else %}
              <span class="text-muted" title="Not available">-</span>
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </section>
  {% endif %}

  {% if document.type == 'treaty' and references %}
  <section id="treaty-references">
    <h2 class="section-title">Treaty references</h2>
      {% for label, treaties in references.items %}
        <dl class="dl-horizontal references">
          <dt>{{ label }}</dt>
            {% for treaty in treaties %}
            <dd>
              <div class="treaty-link-container">
                <a href="{% url 'result' treaty.id %}" 
                   title="See treaty details">{{ treaty.title }}</a>
               </div>
              <time>{{ treaty.date }}</time>
            </dd>
            {% endfor %}
        </dl>
      {% endfor %}
  </section>
  {% endif %}

  <section id="other-references">
    <h2 class="section-title">Other references</h2>

    <dl>
      <dt>COP decisions</dt>
      <dd>
        {% if decisions|length %}
          <strong>{{ decisions|length }} decisions</strong> related to this treaty.
          <a href="{% url 'resultDecisions' document.id %}">View decisions</a>
        {% else %}
          <span class="na">Not available</span>
        {% endif %}
      </dd>
    </dl>
    
  </section>

    <!-- {% if debug %}
    <section id="debug">
        <pre>
        {{ document.solr }}
        </pre>
    </section>
    {% endif %} -->

</article>
{% endblock content %}
