{% extends 'layout.html' %}
{% load tags %}

{% block content %}
<p>
  <span class="treaty-name">{{ treaty.full_title }}</span>
  <br>
  <a href="{% url 'treaty_details' treaty.id %}">Back to treaty details</a>
</p>

<hr>

<article class="record-details-decisions">
  <header>
    <h1>Treaty decisions</h1>
  </header>

  <table class="table decisions-expanded">
    <thead>
      <th>#</th>
      <th>Title</th>
      <th class="text-right" style="min-width: 120px;">Doc. date</th>
    </thead>
    {% for meetingId in meetings.keys %}
      <tbody>
        <tr>
          <th colspan="3">{{ meetingNames|lookup:meetingId }}</th>
        </tr>
        {% for decision in meetings|lookup:meetingId %}
        <tr>
          <td>
            <span title="Decision number">{{ decision.document_id }}</span>
          </td>
          <td>
            <a href="{% url 'result' decision.id %}" title="See decision details">{{ decision }}</a>
          </td>
          <td class="text-right">
            <time class="small text-muted">{{ decision.date }}</time>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    {% endfor %}
  </table>

  <hr>

  <p><a class="btn btn-sm btn-default" href="{% url 'treaty_details' treaty.id %}">Back to treaty details</a></p>

</article>
{% endblock %}
