{% extends 'layout.html' %}
{% load tags %}
{% load i18n %}

{% block meta %}
  <title>Related literature - {{ document.title|striptags|html_unescape }}</title>
{% endblock %}

{% block breadcrumbs %}
  {% breadcrumb "Search results" 'results' query %}
  {% breadcrumb "Treaty" 'treaty_details' query slug=document.slug %}
  {% breadcrumb "Related literature" %}
{% endblock %}

{% block content %}

<article class="record-details">
  <header>
    <div class="record-title">
      <h1>{{ document.title|safe }}</h1>
    </div>
  </header>

  <table class="table decisions-expanded">
    <tbody>
      {% for literature in related_objects %}
      <tr>
        <td>
          <h3 class="search-result-title">
            <a href="{{ literature.details_url }}?{{ query }}"
               title="{{ literature.title|safe|striptags }}">{{ literature.title|safe }}</a>
          </h3>
          {% include 'short_display/literature.html' with result=literature %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<hr>

{% include "bits/pagination.html" with pages=pages %}

</article>
{% endblock %}
