{% extends 'layout.html' %}
{% load tags %}

{% block content %}

<p>
  <span class="treaty-name">{{ treaty.full_title|safe }}</span>
  <br>
  <a href="{% url 'treaty_details' treaty.id %}?{{ query }}">Back to treaty details</a>
</p>

<hr>

<article class="record-details-participants">
  <header>
    <h1>Country/Participant</h1>
  </header>

  <div class="table-wrapper">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-country">Countries</th>
          {% for event in treaty.participants.events %}
          <th>{{ event|capfirst }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for country in treaty.participants.countries %}
          <tr>
            <th>{{ country.country }}</th>
            {% for event in treaty.participants.events %}
              <td>
                {% if country|lookup:event %}
                  <time title="{{ event|capfirst }} date">{{ country|lookup:event|parse_date|date:"b j, Y"|capfirst }}</time>
                {% else %}
                  <span class="na" title="Not available">-</span>
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <hr>

  <p><a class="btn btn-sm btn-default" href="{% url 'treaty_details' treaty.id %}?{{ query }}">
      Back to treaty details
  </a></p>

</article>
{% endblock %}
