{% extends 'layout.html' %}
{% load tags %}

{% block breadcrumbs %}
  {% breadcrumb "Search results" 'results' query %}
  {% breadcrumb "Treaty" 'treaty_details' query slug=document.slug %}
  {% breadcrumb "COP decisions" %}
{% endblock %}

{% block content %}

<article class="record-details">
  <header>
    <div class="record-title">
      <h1>{{ document.title|safe }}</h1>
      <h2>Related COP decisions</h2>
    </div>
  </header>

  <table class="table decisions-expanded">
    <tbody>
    {% regroup related_objects by meeting_title as decision_list %}
    {% for decision in decision_list %}
        <tr>
          <th colspan="3">{{ decision.grouper }}</th>
        </tr>
        {% for item in decision.list %}
        <tr>
          <td>
            <span title="Decision number">{{ item.document_id }}</span>
          </td>
          <td>
            <div class="treaty-link-container">
              <h3 class="search-result-title">
                <a href="{{ item.details_url }}"
                   title="{{ item.title|safe|striptags }}">{{ item.title|safe }}</a>
              </h3>
              {% include 'short_display/decision.html' with result=item%}
            </div>
          </td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
  </table>

</article>
{% endblock %}
