{% extends 'layout.html' %}
{% load tags %}

{% block breadcrumbs %}
  {% breadcrumb "Search results" 'results' query %}
  {% breadcrumb "Treaty" 'treaty_details' query slug=document.slug %}
  {% breadcrumb "Literature" %}
{% endblock %}

{% block content %}

<article class="record-details">
  <header>
    <div class="record-title">
      <h1>{{ document.title|safe }}</h1>
      <h2>Related literature</h2>
    </div>
  </header>

  <table class="table decisions-expanded">
    <tbody>
      {% for literature in related_objects %}
      <tr>
        <td>
          <h3 class="search-result-title">
            <a href="{{ literature.details_url }}"
               title="{{ literature.title|safe|striptags }}">{{ literature.title|safe }}</a>
          </h3>
          {% include 'short_display/literature.html' with result=literature %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</article>
{% endblock %}
