{% extends 'layout.html' %}
{% load tags %}
{% load i18n %}

{% block meta %}
  <title>{{ document.title|striptags|html_unescape }}</title>
{% endblock %}

{% block breadcrumbs %}
  {% breadcrumb "Search results" 'results' query %}
  {% breadcrumb "Treaty" 'treaty_details' query slug=document.slug %}
  {% breadcrumb "Related legislation" %}
{% endblock %}

{% block content %}

<article class="record-details">
  <header>
    <div class="record-title">
      <h1>{{ document.title|safe }}</h1>
    </div>
  </header>

  {% if treaty_implements %}
    <table class="table decisions-expanded">
      <tbody>
      <tr>
          <th colspan="3">{% trans 'Implemented by' %}</th>
      </tr>
      {% for legislation in treaty_implements %}
      <tr>
        <td>
          <h3 class="search-result-title">
            <a href="{{ legislation.details_url }}?{{ query }}"
               title="{{ legislation.title|safe|striptags }}">{{ legislation.title|safe }}</a>
          </h3>
          {% include 'short_display/legislation.html' with result=legislation %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  {%endif %}

  {% if treaty_cites %}
    <table class="table decisions-expanded">
      <tbody>
      <tr>
          <th colspan="3">{% trans 'Cited by' %}</th>
      </tr>
      {% for legislation in treaty_cites %}
      <tr>
        <td>
          <h3 class="search-result-title">
            <a href="{{ legislation.details_url }}?{{ query }}"
               title="{{ legislation.title|safe|striptags }}">{{ legislation.title|safe }}</a>
          </h3>
          {% include 'short_display/legislation.html' with result=legislation %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}

</article>
{% endblock %}
