{% extends 'layout.html' %}
{% load tags %}

{% block style %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}

<p>
  <span class="treaty-name">{{ treaty.full_title|safe }}</span>
  <br>
  <a href="{% url 'treaty_details' treaty.id %}?{{ query }}">Back to treaty details</a>
</p>

<hr>

<article class="record-details-participants">
  <header>
    <h1>Country/Participant</h1>
  </header>

  <div class="table-wrapper">
    <table class="table table-bordered" id="country-party">
      <thead>
        <tr>
          <th class="col-country">Countries</th>
          {% for event in treaty.participants.events %}
          <th>{{ event|capfirst }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for country in treaty.participants.countries %}
          <tr>
            <th>{{ country.country.0 }}</th>
            {% for event in treaty.participants.events %}
              {% with country|lookup:event as event_date %}
                {% if event_date.0 %}
                  <td data-order="{{ event_date.0|parse_date|date:"U" }}"
                      title="{{ event|capfirst }} date">
                    {{ event_date.0|parse_date|date:"b j, Y"|capfirst }}
                    {% if event_date.1 %}[{{ event_date.1 }}]{% endif %}
                  </td>
                {% else %}
                  <td title="Not available">-</td>
                {% endif %}
              {% endwith %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <br>
  {% include 'bits/participants_legend.html' with events=treaty.participants.events %}
  <hr>

  <p><a class="btn btn-sm btn-default" href="{% url 'treaty_details' treaty.id %}?{{ query }}">
      Back to treaty details
  </a></p>

</article>
{% endblock %}

{% block scripts %}
  <script src="/static/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function(){
      $('#country-party').DataTable( {
        "paging":  false,
        "info":    false,
        "bFilter": false,
      });
    });
  </script>
{% endblock %}
