{% extends 'layout.html' %}
{% load tags %}

{% block breadcrumbs %}
  {% breadcrumb "Search results" 'results' request.GET.urlencode %}
  {% breadcrumb "Treaty" 'treaty_details' request.GET.urlencode slug=treaty.slug %}
  {% breadcrumb "Court decisions" %}
{% endblock %}

{% block content %}
<p>
  <span class="treaty-name">{{ treaty.full_title }}</span>
</p>

<hr>

<article class="record-details-decisions">
  <header>
    <h1>Treaty court decisions</h1>
  </header>

  <table class="table decisions-expanded">
    <thead>
      <th>Title</th>
    </thead>
    <tbody>
      {% for court_decision in treaty.court_decisions %}
      <tr>
        <td>
          <h3 class="search-result-title">
            <a href="{{ court_decision.details_url }}?{{ request.GET.urlencode }}"
               title="{{ court_decision.title|safe|striptags }}">{{ court_decision.title|safe }}</a>
          </h3>
          {% include 'short_display/court_decision.html' with result=court_decision %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</article>
{% endblock %}
