{% extends 'layout.html' %}
{% load tags %}

{% block meta %}
  <title>{{ document.title }}</title>
{% endblock %}

{% block breadcrumbs %}
  {% breadcrumb "Search results" 'results' query %}
  {% breadcrumb "Treaty" 'treaty_details' query slug=document.slug %}
  {% breadcrumb "Court decisions" %}
{% endblock %}

{% block content %}

<article class="record-details">
  <header>
    <div class="record-title">
      <h1>{{ document.title|safe }}</h1>
      <h2>Related court decisions</h2>
    </div>
  </header>

  <table class="table decisions-expanded">
    <tbody>
      {% for court_decision in related_objects %}
      <tr>
        <td>
          <h3 class="search-result-title">
            <a href="{{ court_decision.details_url }}"
               title="{{ court_decision.title|safe|striptags }}">{{ court_decision.title|safe }}</a>
          </h3>
          {% include 'short_display/court_decision.html' with result=court_decision %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<hr>

{% include "bits/pagination.html" with pages=pages %}

</article>
{% endblock %}
