{% extends "layout.html" %}

{% block content %}

  {% include 'bits/type_facet.html' with page_type="homepage" %}

  <div id="welcome-text" class="well text-center">
    <h4>About Ecolex</h4>
    <p>Ecolex provides the most comprehensive, global source of information on environmental law.</p>
    <a href="{% url 'page' slug='about' %}" class="btn btn-info">Learn more</a>
  </div>

  <div class="well-o text-center">
    <h4>Take a tour of the prototype</h4>
    <p>See all the great features of this prototype and learn about what we have in mind for the final product.</p>
    <p>We wish to offer end users a similar tour to help them get acquainted to the new interface.</p>
    <a data-toggle="tour" class="btn btn-primary">Start tour</a>
  </div>

{% endblock %}