{% extends "layout.html" %}
{% load i18n %}

{% block meta %}
  <title>ECOLEX | {% trans 'The gateway to ' %}{% trans 'environmental law' %}</title>
{% endblock %}

{% block content %}

  {% include 'bits/type_facet.html' with page_type="homepage" %}

<div class="homepage-tour-themes-wrapper">
    <a data-toggle="tour" class="btn btn-blue">Take a tour</a>
    {#<div class="btn-group">
      {#<a data-toggle="dropdown" class="btn btn-default dropdown-toggle">Other tools<span class="caret"></span></a>#}
      {#% include 'bits/knowledge_tools.html' %#}
    {#</div>#}
  </div>

{% endblock %}
