{% load i18n %}
{% load tags %}

<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <title>ECOLEX {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.custom.css">
  <link rel="stylesheet" href="/static/css/bootstrap-tour.min.css">
  <link rel="stylesheet" href="/static/css/select2.css">
  <link rel="stylesheet" href="/static/css/main.css">
  {% block style %}
  {% endblock %}
  {% include 'bits/favicon.html' %}
</head>

<body>

<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="{% url 'homepage' %}" class="navbar-brand">ECOLEX</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse"
              data-target="#navbar-main">
        <span class="icon icon-menu"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li {% if page_slug == 'about' %}class="active"{% endif %}><a href="{% url 'page' slug='about' %}">About</a></li>
        <li {% if page_slug == 'agreement' %}class="active"{% endif %}><a href="{% url 'page' slug='agreement' %}">User Agreement</a></li>
        <li {% if page_slug == 'privacy' %}class="active"{% endif %}><a href="{% url 'page' slug='privacy' %}">Privacy</a></li>
        <li {% if page_slug == 'acknowledgements' %}class="active"{% endif %}><a href="{% url 'page' slug='acknowledgements' %}">Acknowledgments</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <span class="text-muted">Language:</span>
            <strong>{{ LANGUAGE_CODE|language_name_local|capfirst }}</strong>
          </a>
          <ul class="dropdown-menu">
            {% get_language_info_list for LANGUAGES as langs %}
            {% for lang in langs %}
              <li>
                <a href="{% translate_url lang.code %}?{{ query }}">{{ lang.name_local|capfirst }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>

{# form is now page-wide, until someone decides to have fun with the template #}
<form id="search-form" action="{% url 'results' %}" method="get">

<div id="masthead" class="jumbotron text-center">
  <div class="container">
    <div class="jumbotron-brand">
      <div class="logo-ecolex">
        <a href="{% url 'homepage' %}"><img src="/static/img/logo-ecolex-inverted.png" alt="Ecolex Logo" title="Homepage"></a>
      </div>
      <div class="slogan">
        <strong>The gateway to <br>environmental law</strong>
      </div>
      <div class="credits">
        Joint operation by <br><a href="http://www.fao.org/">FAO</a>, <a href="http://www.iucn.org/">IUCN</a>, <a
          href="http://www.unep.org/">UNEP</a>
      </div>
      <div class="logo-credits">
        <img src="/static/img/logo-credits.svg" alt="">
      </div>
    </div>

    <!--{# old #} search -->
    <div class="search-form {{ page_type|default:"results-page" }}">
      <label for="search">
        <span class="sr-only">Search</span>
        <span class="icon icon-search"></span>
      </label>

      <input id="search" type="search" autofocus {# autosave #} class="form-control" name="q" placeholder="Search in record and full text" value="{{ form.q.value|default:"" }}">
      {# TODO: form.q.errors maybe? #}

      <button class="btn btn-search" type="submit">Search</button>

      {% include 'bits/hidden_form.html' %}
    </div>
  </div>
</div>

<main>
  <div class="container">
    {% block breadcrumbs %}
    {% endblock %}
    {% block content %}
    {% endblock %}
  </div>
</main>

</form>

<div class="footer">
  <div class="container">
    <div class="img">
      <img src="/static/img/logo-ecolex-mono.png" alt="Logo Ecolex">
    </div>
    <ul class="list-inline">
      <li><a href="{% url 'page' slug='about' %}">About</a></li>
      <li><a href="{% url 'page' slug='agreement' %}">User Agreement</a></li>
      <li><a href="{% url 'page' slug='privacy' %}">Privacy</a></li>
      <li><a href="{% url 'page' slug='acknowledgements' %}">Acknowledgments</a></li>
      <li><a href="#">Take a tour</a></li>
    </ul>
  </div>
</div>

<!-- scripts -->
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/modernizr-custom.js"></script>
<script src="/static/js/bootstrap-tour.min.js"></script>
<script src="/static/js/jquery.deserialize.js"></script>
<script src="/static/js/jquery.blockUI.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/facets.js"></script>
<script src="/static/js/tour.js"></script>
{% if settings.GA_CODE %}{% include 'bits/ga.html' %}{% endif %}
{% block scripts %}
{% endblock %}
</body>

</html>
