{% load i18n %}{% load tags %}<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <title>ECOLEX {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% version 'css/bootstrap.custom.css' %}">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% version 'css/bootstrap-tour.min.css' %}">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% version 'css/select2.css' %}">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% version 'css/main.css' %}">
  {% block style %}{% endblock %}
  <script src="https://code.jquery.com/jquery-1.12.1.min.js"
          integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I="
          crossorigin="anonymous"></script>
  <script src="{{ STATIC_URL }}{% version 'js/bootstrap.min.js' %}"></script>{% comment %}
  <script src="{{ STATIC_URL }}{% version 'js/modernizr-custom.js' %}"></script>
  <script src="{{ STATIC_URL }}{% version 'js/jquery.deserialize.js' %}"></script>
  <script src="{{ STATIC_URL }}{% version 'js/jquery.blockUI.js' %}"></script>{% endcomment %}
  <script src="{{ STATIC_URL }}{% version 'js/select2.js' %}"></script>
  <script src="{{ STATIC_URL }}{% version 'js/main.js' %}"></script>
  {% block scripts %}{% endblock %}
  {% include 'bits/favicon.html' %}
</head>

<body {% if page_type == "homepage" %}class="body-colored"{% endif %}>
<div class="navbar navbar-default">
  <div class="container">

    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
      Menu <span class="icon icon-menu"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li {% if page_type == "homepage" %}class="active"{% endif %}><a href="{% url 'homepage' %}">Home</a></li>
        <li {% if page_slug == 'about' %}class="active"{% endif %}><a href="{% url 'page' slug='about' %}">About ECOLEX</a></li>
        <li>
          <a data-toggle="dropdown">Knowledge tools<span class="caret"></span></a>
          {% include 'bits/knowledge_tools.html' %}
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <span class="text-muted">Language:</span>
            <strong>{{ LANGUAGE_CODE|language_name_local|capfirst }}</strong>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% get_language_info_list for LANGUAGES as langs %}
            {% for lang in langs %}
              <li>
                <a href="{% translate_url lang.code %}?{{ query }}">{{ lang.name_local|capfirst }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>

{# form is now page-wide, until someone decides to have fun with the template #}
<form id="search-form" action="{% url 'results' %}" method="get">

{% if page_type == "homepage" %}
<!-- #TODO: Clean better -->

<main>
    <div id="masthead" class="jumbotron text-center">
        <div class="container">
            <div class="jumbotron-brand">
                <div class="logo-ecolex">
                    <a href="{% url 'homepage' %}"><img src="/static/img/logo-ecolex-inverted.svg" alt="Ecolex Logo" title="Homepage"></a>
                </div>
                <div class="slogan">
                    <strong>The gateway to <br>environmental law</strong>
                </div>

            </div>
            <div class="search-form {{ page_type|default:" results-page " }}">
                <label for="search">
                    <span class="sr-only">Search</span>
                    <span class="icon icon-search"></span>
                </label>
                <input id="search" type="search" autofocus {# autosave #} class="form-control" name="q" placeholder="Search in record and full text" value="{{ form.q.value|default:" " }}"> {# TODO: form.q.errors maybe? #} {% if form.q.value %}
                <span id="query-remove" class="icon icon-close"></span> {% endif %}
                <button class="btn btn-search" type="submit">Search</button>
            </div>

            <ul class="homepage-categories">
              <li>
                <a href="">
                  <span class="icon icon-treaty"></span>
                  Treaty
                </a>
              </li>
              <li>
                <a href="">
                  <span class="icon icon-cop-decision"></span>
                  COP Decisions
                </a>
              </li>
              <li>
                <a href="">
                  <span class="icon icon-legislation"></span>
                  Legislation
                </a>
              </li>
              <li>
                <a href="">
                  <span class="icon icon-court-decision"></span>
                  Court Decisions
                </a>
              </li>
              <li>
                <a href="">
                  <span class="icon icon-literature"></span>
                  Literature
                </a>
              </li>
            </ul>
        </div>
    </div>
</main>


{% else %}

<div id="masthead" class="jumbotron text-center">
  <div class="container">
    <div class="jumbotron-brand">
      <div class="logo-ecolex">
        <a href="{% url 'homepage' %}"><img src="/static/img/logo-ecolex-inverted.svg" alt="Ecolex Logo" title="Homepage"></a>
      </div>
      <div class="slogan">
        <strong>The gateway to <br>environmental law</strong>
      </div>

    <div class="search-form {{ page_type|default:"results-page" }}">
      <label for="search">
        <span class="sr-only">Search</span>
        <span class="icon icon-search"></span>
      </label>

      <input id="search" type="search" autofocus {# autosave #} class="form-control" name="q" placeholder="Search in record and full text" value="{{ form.q.value|default:"" }}">
      {# TODO: form.q.errors maybe? #}
      {% if form.q.value %}
          <span id="query-remove" class="icon icon-close"></span>
      {% endif %}
      <button class="btn btn-search" type="submit">Search</button>
    </div>

    </div>


  </div>
</div>

<main>
  <div class="container">
    {% block breadcrumbs %}
    {% endblock %}
    {% block content %}
    {% endblock %}
  </div>
</main>
{% endif %}

</form>
<div class="footer">
    <div class="container">
      <div class="footer-inner">
        <nav class="footer-nav">
          <ul class="list-inline" style="margin-bottom: 0;">
              <li><a href="{% url 'page' slug='agreement' %}">User Agreement</a></li>
              <li><a href="{% url 'page' slug='privacy' %}">Privacy</a></li>
              <li><a href="{% url 'page' slug='acknowledgements' %}">Acknowledgments</a></li>
          </ul>
        </nav>

        <div class="footer-credits">
          <span style="display: inline-block; vertical-align: middle;">Joint operation by
                    <br><a href="http://www.fao.org/">FAO</a>, <a href="http://www.iucn.org/">IUCN</a>, <a href="http://www.unep.org/">UNEP</a></span>
          <ul class="list-inline">
              <li>
                  <div class="sprite-credits sprite-iucn">
                  </div>
              </li>
              <li>
                  <div class="sprite-credits sprite-unep">
                  </div>
              </li>
              <li>
                  <div class="sprite-credits sprite-fao">
                  </div>
              </li>
          </ul>
        </div>
      </div>
    </div>
</div>



<!-- end scripts -->
<script src="{{ STATIC_URL }}{% version 'js/bootstrap-tour.min.js' %}"></script>
<script src="{{ STATIC_URL }}{% version 'js/tour.js' %}"></script>
{% include 'bits/ga.html' %}
{% block endscripts %}
{% endblock %}
</body>

</html>
