# Rename into secret.env
# Place environment variables that are sensitive and deployment specific here.
# secret.env file is not meant to be commited to any repo
FAOLEX_API_KEY=some_hex_digest_secret_key
